{% extends layout_path %}

{% load static %}

{% block title %}{{ titlePage }}{% endblock %}

{% block breadcrumbs %}
{% if submodule %}
<span class="text-muted fw-light">
	<a href="/uri" class="text-muted fw-light">{{ module }}</a> /
</span>
<span class="">{{ submodule }}</span>
{% else %}
<span class="">{{ module }}</span>
{% endif %}

{% endblock %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}


<p> Informacion General {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<form action="" method="post">{% csrf_token %}
	<table>
		{{ wizard.management_form }}
		{% if wizard.form.forms %}
		{{ wizard.form.management_form }}
		{% for form in wizard.form.forms %}
		{{ form.as_table }}
		{% endfor %}
		{% else %}
		{{ wizard.form }}
		{% endif %}
	</table>
	{% if wizard.steps.prev %}
	<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% translate "first step" %}</button>
	<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% translate "prev step" %}</button>
	{% endif %}
	<input type="submit" value="{% translate " Siguiente" %}" />
</form>
{% endblock %}

<!-- / /p class="lead">
{% if wizard.steps.step1 == 1 %}
Información General (Paso {{ wizard.steps.step1 }} de {{ wizard.steps.count }})
{% elif wizard.steps.step1 == 2 %}
Detalles de Contacto (Paso {{ wizard.steps.step1 }} de {{ wizard.steps.count }})
{% elif wizard.steps.step1 == 3 %}
Confirmación (Paso {{ wizard.steps.step1 }} de {{ wizard.steps.count }})
{% else %}
Paso {{ wizard.steps.step1 }} de {{ wizard.steps.count }}
{% endif %}
</ /