{% extends layout_path %}

{% load static %}

{% block title %}{{ titlePage }}{% endblock %}

{% block breadcrumbs %}
{% if submodule %}
<span class="text-muted fw-light">
  <a href="{{ indexUrl }}" class="text-muted fw-light">{{ module }}</a> /
</span>
<span class="">{{ submodule }}</span>
{% else %}
<span class="">{{ module }}</span>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xl">
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">{{ titleForm }}</h5>        
        <small class="text-muted float-end">Complete los campos requeridos (*) del formulario para pasar al siguiente paso</small>
        <small class="text-muted float-end">{{ tag }}</small>
      </div>

      <div class="card-body">
        <form id="msform">
          <ul id="progressbar">
            <li class="active" id="account"><strong>Paso 1</strong></li>
            <li id="personal"><strong>Paso 2</strong></li>
            <li id="payment"><strong>Paso 3</strong></li>
            <li id="confirm"><strong>Paso 4</strong></li>
          </ul>
            
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
          </div>

          <fieldset>
            <div class="form-card">
              <div class="row">
                <div class="col-7"><h2 class="fs-title">Paso 1:</h2></div>
                <div class="col-5"><h2 class="steps text-muted">Paso 1 - 4</h2></div>
              </div> 
              
              {% comment %} inputs {% endcomment %}
            </div>
            
            <input type="button" name="next" class="next action-button" value="Próximo" />
          </fieldset>

          <fieldset>
              <div class="form-card">
                <div class="row">
                  <div class="col-7"><h2 class="fs-title">Paso 2:</h2></div>
                  <div class="col-5"><h2 class="steps text-muted">Paso 2 - 4</h2></div>
                </div>
              </div> 
              
              <input type="button" name="next" class="next action-button" value="Próximo" />
              <input type="button" name="previous" class="previous action-button-previous" value="Anterior" />
          </fieldset>

          <fieldset>
              <div class="form-card">
                <div class="row">
                  <div class="col-7"><h2 class="fs-title">Paso 3:</h2></div>
                  <div class="col-5"><h2 class="steps text-muted">Paso 3 - 4</h2></div>
                </div> 
              </div>
              
              <input type="button" name="next" class="next action-button" value="Entregar" />
              <input type="button" name="previous" class="previous action-button-previous" value="Anterior" />
          </fieldset>

          <fieldset>
            <div class="form-card">
              <div class="row">
                <div class="col-7"><h2 class="fs-title">Paso 4:</h2></div>
                <div class="col-5"><h2 class="steps text-muted">Paso 4 - 4</h2></div>
              </div> 
              
              <br><br>
              <h2 class="purple-text text-center"><strong>ÉXITO..!</strong></h2>
              <br>
              <div class="row justify-content-center">
                <div class="col-3"> <img src="https://i.imgur.com/GwStPmg.png" class="fit-image"> </div>
              </div> 
              <br><br>
              <div class="row justify-content-center">
                <div class="col-7 text-center"><h5 class="purple-text text-center">Registrado exitosamente</h5></div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block page_css %}
{{ block.super }}

<style>
  .fit-image {
    width: 100%;
    object-fit: cover
  }

  .card {
    z-index: 0;
    border: none;
    position: relative
  }

  #progressbar {
    margin-bottom: 10px;
    overflow: hidden;
    color: lightgrey
  }

  #progressbar .active {
    color: #696cff
  }

  #progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400
  }

  #progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
  }

  #progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
  }

  #progressbar li.active:before,
  #progressbar li.active:after {
    background: #696cff
  }

  .progress-bar {
    background-color: #696cff
  }

  .fs-title {
    color: #696cff;
    font-size: 1.125rem;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
  }

  .steps {
    color: gray;
    {% comment %} font-size: 1.125rem; {% endcomment %}
    font-size: 85%;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
  }

  #msform {
    text-align: center;
    position: relative;
    margin-top: 20px
  }

  #msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
  }

  #msform fieldset:not(:first-of-type) {
    display: none
  }

  #progressbar #account:before {
    font-family: FontAwesome;
    content: "\f13e"
  }

  #progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007"
  }

  #progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f030"
  }

  #progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
  }
</style>
{% endblock %}

{% block page_js %}
<script>
  $(document).ready(function() {
    var current_fs, next_fs, previous_fs;
    var opacity;
    var current = 1;
    var steps = $("fieldset").length;
      
    setProgressBar(current);
      
    $(".next").click(function() {
      current_fs = $(this).parent();
      next_fs = $(this).parent().next();
      
      $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
      
      next_fs.show();
      current_fs.animate({opacity: 0}, {
        step: function(now) {
          opacity = 1 - now;
        
          current_fs.css({'display': 'none', 'position': 'relative'});
          next_fs.css({'opacity': opacity});
        },
        duration: 500
      });
      setProgressBar(++current);
    });
      
    $(".previous").click(function() {
      current_fs = $(this).parent();
      previous_fs = $(this).parent().prev();
      
      $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
      
      previous_fs.show();
      
      current_fs.animate({opacity: 0}, {
        step: function(now) {
          opacity = 1 - now;
        
          current_fs.css({'display': 'none', 'position': 'relative'});
          previous_fs.css({'opacity': opacity});
        },
        duration: 500
      });
      setProgressBar(--current);
    });
      
    function setProgressBar(curStep){
      var percent = parseFloat(100 / steps) * curStep;
      percent = percent.toFixed();
      $(".progress-bar").css("width",percent+"%")
    }
      
    $(".submit").click(function(){
      return false;
    })    
  });
</script>
{% endblock %}
