{% extends "dashboard-base.html" %}
{% load static %}

{% block title %}Departamentos{% endblock %}

<!-- ========s======= Items del Menu ================ -->
{% block menuItems %}
<li>
    <a href="../usuarios">
        <i class="fa-solid fa-user"></i>
        <span>Usuarios</span>
    </a>
</li>

<li>
    <a href="../departamentos">
        <i class="fa-solid fa-house-circle-check"></i>
        <span>Departamentos</span>
    </a>
</li>

<li>
    <a href="../sedes">
        <i class="fa-solid fa-building-user"></i>
        <span>Sedes</span>
    </a>
</li>
{% endblock %}