{% extends "organizacion/base.html" %}
{% load static %}

<!-- ========================= Menú usuario ==================== -->
{% block mainContentHeaderTitle %}Sedes{% endblock %}

<!-- =========== Formulario de Busqueda =========  -->
{% block seacrhForm %}
<form id="formConsulta" method="GET" action="{% url 'sedes_consultar' accion='consultar' %}">
  <div class="searh--box">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" name="direccion" id="inputdireccion" placeholder="Buscar">
    <button type="submit" class="btn">Consultar</button>
    <button type="button" class="btn" onclick="location.href='{% url 'sedes' %}'">Limpiar</button>
  </div>
</form>
{% endblock %}

<!-- =========== Botones de acciones adicionales =========  -->
{% block additionalButtons %}
<button data-btn-add class="bt">Agregar</button>
{% endblock %}

<!-- =========== Paginador =========  -->
{% block paginate %}
<center>
  <section class="ulpgcds-pager">
    <ul class="ulpgcds-pager-ul">
      {%if sedesp.has_previous %} {# whether the previous page exists #}
      <li class="ulpgcds-pageritem ulpgcds-pageritem--prev">
        <a class="pagination__link" href="?page={{sedesp.previous_page_number}}" title="Ir a la página anterior"><span
            class="visually-hidden">Anterior</span></a>
      </li>
      {% endif %}
      {% for i in sedesp.paginator.page_range %}
      {% if sedesp.number == i %}
      <li class="ulpgcds-pageritem ulpgcds-pageritem--is-active">
        <a class="pagination__link" href="?page={{sedesp.number}}">{{ i }}</a>
      </li>
      {% else %}
      <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
      {% endfor %}
      {%if sedesp.has_next %} {# whether the next page exists #}
      <li class="ulpgcds-pageritem ulpgcds-pageritem--next">
        <a class="pagination__link" href="?page={{sedesp.next_page_number}}" title="Ir a la página siguiente">
          <span class="visually-hidden">Siguiente</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </section>
</center>
{% endblock %}

{% block content %}
<!-- ===================== Tabla ====================  -->
<div class="tabular--wrapper" style="margin-top: 10px; padding-top: 10px;">
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Direccion</th>
          <th>Municipio</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      <tbody>
        {% for archivo in sedesp %}
        <tr>
          <td>{{ archivo.direccion }}</td>
          <td>{{ archivo.municipio }}</td>
          <td>{{ archivo.estado }}</td>
          <td>
            <a href="#" id="myBtnn3{{ archivo.id }}" style="color: black;"><i class="fa-solid fa-pen-to-square"></i></a>
            &nbsp;&nbsp;&nbsp;
            <a href="#" id="myBtnn4{{ archivo.id }}" style="color: black;"><i class="fa-solid fa-trash"></i></a>
            <div id="myModall3{{ archivo.id }}" class="modal">
              <div class="modal-content">
                <span class="closee3{{ archivo.id }} close" style="margin-top: -10px;">&times;</span>
                <div class="modal-header">
                  <h2>Modificar Sede</h2>
                </div>
                <br>
                <form method="POST" action="sedes/update/{{ archivo.pk }}" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group">
                    <div class="form-items">
                      <label>Dirección</label>
                      <br>
                      <input type="text" class="form-control" name="{{ formsp.direccion.html_name }}"
                        placeholder="Ingrese el nombre" value="{{ archivo.direccion }}" required>
                    </div>
                    <div class="form-items">
                      <label>Municipio</label>
                      <br>
                      <input type="text" class="form-control" name="{{ formsp.municipio.html_name }}"
                        placeholder="Ingrese el nombre" value="{{ archivo.municipio }}" required>
                    </div>
                    <div class="form-items">
                      <label>Estado</label>
                      <br>
                      <input type="text" class="form-control" name="{{ formsp.estado.html_name }}"
                        placeholder="Ingrese el estado" value="{{ archivo.estado }}" required>
                    </div>
                  </div>
                  <br>
                  <div align="center">
                    <input type="submit" class="bnt" value="Enviar" style="width: 90px;">
                  </div>
                </form>
              </div>
            </div>
            <script>
              var modall3{{ archivo.id }} = document.getElementById("myModall3{{ archivo.id }}");
              var btnn3{{ archivo.id }} = document.getElementById("myBtnn3{{ archivo.id }}");
              var spann3{{ archivo.id }} = document.getElementsByClassName("closee3{{ archivo.id }}")[0];
                                  btnn3{ { archivo.id } }.onclick = function () {
                                      modall3{ { archivo.id } }.style.visibility = "visible";
                                      modall3{ { archivo.id } }.style.opacity = 1;
              }
                              
                                  spann3{ { archivo.id } }.onclick = function () {
                                      modall3{ { archivo.id } }.style.visibility = "hidden";
                                      modall3{ { archivo.id } }.style.opacity = 0;
              }

              window.onclick = function (event) {
                if (event.target == modall3{ { archivo.id } }) {
                                          modall3{ { archivo.id } }.style.visibility = "hidden";
                                          modall3{ { archivo.id } }.style.opacity = 0;
                }
              }
            </script>
            <div id="myModall4{{ archivo.id }}" class="modal">
              <div class="modal-content">
                <span class="closee4{{ archivo.id }} close" style="margin-top: -10px;">&times;</span>
                <div class="modal-header">
                  <form action="sedes/delete/{{ archivo.id }}" method="POST">
                    {% csrf_token %}
                    <br>
                    <div align="center">
                      <h2>¿Estás seguro de eliminar este registro?</h2>
                    </div>
                    <br><br>
                    <div align="center">
                      <input type="submit" class="bnt" value="Enviar" style="width: 90px;">
                    </div>
                  </form>
                </div>
              </div>
              <script>
                var modall4{{ archivo.id }} = document.getElementById("myModall4{{ archivo.id }}");
                var btnn4{{ archivo.id }} = document.getElementById("myBtnn4{{ archivo.id }}");
                var spann4{{ archivo.id }} = document.getElementsByClassName("closee4{{ archivo.id }}")[0];
                                  btnn4{ { archivo.id } }.onclick = function () {
                                      modall4{ { archivo.id } }.style.visibility = "visible";
                                      modall4{ { archivo.id } }.style.opacity = 1;
                }
                              
                                  spann4{ { archivo.id } }.onclick = function () {
                                      modall4{ { archivo.id } }.style.visibility = "hidden";
                                      modall4{ { archivo.id } }.style.opacity = 0;
                }

                window.onclick = function (event) {
                  if (event.target == modall3{ { archivo.id } }) {
                                          modall4{ { archivo.id } }.style.visibility = "hidden";
                                          modall4{ { archivo.id } }.style.opacity = 0;
                  }
                }
              </script>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      </thead>
    </table>
  </div>
</div>
{% endblock %}

<!-- =========== Modal =========  -->
{% block extraContent %}
{% include "organizacion/modal-sede-form.html" %}
{% endblock %}