{% extends "organizacion/base.html" %}
{% load static %}

<!-- ========================= Menú usuario ==================== -->
{% block mainContentHeaderTitle %}Usuarios{% endblock %}

<!-- =========== Formulario de Busqueda =========  -->
{% block seacrhForm %}
<form id="formConsulta" method="GET" action="{% url 'usuarios_consultar' accion='consultar' %}">
  <div class="searh--box">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" name="username" id="inputusername" placeholder="Buscar">
    <button type="submit" class="btn">Consultar</button>
    <button type="button" class="btn" onclick="location.href='{% url 'usuarios' %}'">Limpiar</button>
  </div>
</form>
{% endblock %}

<!-- =========== Botones de acciones adicionales =========  -->
{% block additionalButtons %}
<button data-btn-add class="bt">Agregar</button>
{% endblock %}

<!-- =========== Paginador =========  -->
{% block paginate %}
<center>
  <section class="ulpgcds-pager">
    <ul class="ulpgcds-pager-ul">
      {%if usersl.has_previous %} {# whether the previous page exists #}
      <li class="ulpgcds-pageritem ulpgcds-pageritem--prev">
        <a class="pagination__link" href="?page={{usersl.previous_page_number}}" title="Ir a la página anterior"><span
            class="visually-hidden">Anterior</span></a>
      </li>
      {% endif %}
      {% for i in usersl.paginator.page_range %}
      {% if usersl.number == i %}
      <li class="ulpgcds-pageritem ulpgcds-pageritem--is-active">
        <a class="pagination__link" href="?page={{usersl.number}}">{{ i }}</a>
      </li>
      {% else %}
      <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
      {% endfor %}
      {%if usersl.has_next %} {# whether the next page exists #}
      <li class="ulpgcds-pageritem ulpgcds-pageritem--next">
        <a class="pagination__link" href="?page={{usersl.next_page_number}}" title="Ir a la página siguiente">
          <span class="visually-hidden">Siguiente</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </section>
</center>
{% endblock %}

{% block content %}
<!-- ===================== Tabla ====================  -->
<div class="tabular--wrapper" style="margin-top: 10px; padding-top: 10px;">
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Cédula</th>
          <th>Correo</th>
          <th>Tipo de Usuario</th>
          <th>Sede</th>
          <th>Departamento</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      <tbody>
        {% for archivo in usersl %}
        <tr>
          <td>{{ archivo.nombre }}</td>
          <td>{{ archivo.apellido }}</td>
          <td>{{ archivo.username }}</td>
          <td>{{ archivo.correo }}</td>
          <td>{{ archivo.tipo }}</td>
          <td>{{ archivo.sede }}</td>
          <td>{{ archivo.departamento }}</td>
          <td>{{ archivo.estado }}</td>
          <td>
            <a href="#" id="myBtnn3{{ archivo.id }}" style="color: black;"><i class="fa-solid fa-pen-to-square"></i></a>
            &nbsp;&nbsp;&nbsp;
            <a href="#" id="myBtnn2{{ archivo.id }}" style="color: black;"><i class="fa-solid fa-trash"></i></a>
            <div id="myModall3{{ archivo.id }}" class="modal">
              <div class="modal-content">
                <span class="closee3{{ archivo.id }} close" style="margin-top: -10px;">&times;</span>
                <div class="modal-header">
                  <h2>Modificar Usuario</h2>
                </div>
                <br>
                <form method="POST" action="usuarios/update/{{ archivo.pk }}">
                  {% csrf_token %}
                  <div class="form-group">
                    <div class="form-items">
                      <label>Nombre</label>
                      <br>
                      <input type="text" class="form-control" name="{{forml.nombre.html_name}}"
                        placeholder="Ingrese el nombre" value="{{ archivo.nombre }}" required>
                    </div>
                    <div class="form-items">
                      <label>Apellido</label>
                      <br>
                      <input type="text" class="form-control" name="{{forml.apellido.html_name}}"
                        placeholder="Ingrese el apellido" value="{{ archivo.apellido }}" required>
                    </div>
                    <div class="form-items">
                      <label>Cédula</label>
                      <br>
                      <input type="number" class="form-control" name="{{forml.username.html_name}}"
                        placeholder="Ingrese la cédula" value="{{ archivo.username }}" required>
                    </div>
                    <div class="form-items">
                      <label>Correo</label>
                      <br>
                      <input type="text" class="form-control" name="{{forml.correo.html_name}}"
                        placeholder="Ingrese el correo" value="{{ archivo.correo }}" required>
                    </div>
                    <div class="form-items">
                      <label>Tipo de Usuario</label>
                      <br>
                      <select name="{{forml.tipo.html_name}}" class="form-control">
                        <option value="{{ archivo.tipo }}" selected>{{ archivo.tipo }}</option>
                        <option value="" disabled>---------</option>
                        <option value="admin">admin</option>
                        <option value="superu">superu</option>
                        <option value="estandar">estandar</option>
                      </select>
                    </div>
                    <div class="form-items">
                      <label>Sede</label>
                      <br>
                      <select name="{{forml.sede.html_name}}" class="form-control" required>
                        {% for sede in sedesp%}
                        <option value="{{ sede.name }}">{{ sede.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-items">
                      <label>Departamento</label>
                      <br>
                      <select name="{{forml.departamento.html_name}}" class="form-control" required>
                        <option value="{{ archivo.departamento }}" selected>{{ archivo.departamento }}</option>
                        <option value="" disabled>---------</option>
                        {% for dep in departamentosp%}
                        <option value="{{ dep.name }}">{{ dep.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-items">
                      <label>Estado</label>
                      <br>
                      <select name="{{forml.estado.html_name}}" class="form-control" required>
                        <option value="{{ archivo.estado }}" selected>{{ archivo.estado }}</option>
                        <option value="" disabled>---------</option>
                        {% for sedes in sedesp%}
                        <option value="{{ sedes.estado }}">{{ sedes.estado}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <br>
                  <div align="center">
                    <input type="submit" class="bnt" value="Enviar" style="width: 90px;">
                  </div>
                </form>
              </div>
            </div>
            <script>
              var modall3{{ archivo.id }} = document.getElementById("myModall3{{ archivo.id }}");
              var btnn3{{ archivo.id }} = document.getElementById("myBtnn3{{ archivo.id }}");
              var spann3{{ archivo.id }} = document.getElementsByClassName("closee3{{ archivo.id }}")[0];
                                btnn3{ { archivo.id } }.onclick = function () {
                                    modall3{ { archivo.id } }.style.visibility = "visible";
                                    modall3{ { archivo.id } }.style.opacity = 1;
              }
                            
                                spann3{ { archivo.id } }.onclick = function () {
                                    modall3{ { archivo.id } }.style.visibility = "hidden";
                                    modall3{ { archivo.id } }.style.opacity = 0;
              }

              window.onclick = function (event) {
                if (event.target == modall3{ { archivo.id } }) {
                                        modall3{ { archivo.id } }.style.visibility = "hidden";
                                        modall3{ { archivo.id } }.style.opacity = 0;
                }
              }
            </script>
            <div id="myModall2{{ archivo.id }}" class="modal">
              <div class="modal-content">
                <span class="closee2{{ archivo.id }} close" style="margin-top: -10px;">&times;</span>
                <div class="modal-header">
                  <form action="usuarios/delete/{{ archivo.id }}" method="POST">
                    {% csrf_token %}
                    <br>
                    <div align="center">
                      <h2>¿Estás seguro de eliminar este registro?</h2>
                    </div>
                    <br><br>
                    <div align="center">
                      <input type="submit" class="bnt" value="Eliminar" style="width: 90px;">
                    </div>
                  </form>
                </div>
                <br>
              </div>
            </div>
            <script>
              var modall2{{ archivo.id }} = document.getElementById("myModall2{{ archivo.id }}");
              var btnn2{{ archivo.id }} = document.getElementById("myBtnn2{{ archivo.id }}");
              var spann2{{ archivo.id }} = document.getElementsByClassName("closee2{{ archivo.id }}")[0];
                                btnn2{ { archivo.id } }.onclick = function () {
                                    modall2{ { archivo.id } }.style.visibility = "visible";
                                    modall2{ { archivo.id } }.style.opacity = 1;
              }

                                spann2{ { archivo.id } }.onclick = function () {
                                    modall2{ { archivo.id } }.style.visibility = "hidden";
                                    modall2{ { archivo.id } }.style.opacity = 0;
              }

              window.onclick = function (event) {
                if (event.target == modall{ { archivo.id } }) {
                                        modall2{ { archivo.id } }.style.visibility = "hidden";
                                        modall2{ { archivo.id } }.style.opacity = 0;
                }
              }
            </script>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      </thead>
    </table>
  </div>
</div>
{% endblock %}

<!-- =========== Modal =========  -->
{% block extraContent %}
{% include "organizacion/modal-usuario-form.html" %}
{% endblock %}