{% load static %}
{% include "utils/modal/modal-header.html" %}

<!-- =========== Contenido del Modal =========  -->
<form data-form>
  {% csrf_token %}
  <div class="form-group">
    <div class="form-items">
      <label>Nombre de la Red Social</label><br>
      <input type="text" id="gc-sma-platform" name="platform" required class="form-control"
        placeholder="Ingrese el nombre de la red social">
    </div>

    <div class="form-items">
      <label>usuario de la Red Social</label><br>
      <input type="text" id="gc-sma-username" name="username" required class="form-control"
        placeholder="Ingrese el usuario de la red social">
    </div>

    <div class="form-items">
      <label>Ingrese el link del perfil</label><br>
      <input type="text" id="gc-sma-url" name="url" required class="form-control"
        placeholder="Ingrese el link del perfil">
    </div>

    <div class="form-items">
      <label>Cantidad de Seguidores</label><br>
      <input type="number" id="gc-sma-followers" name="followers" required class="form-control"
        placeholder="Ingrese la cantidad de seguidores">
    </div>

    <div class="form-items">
      <label>Quien administra la Red Social</label><br>
      <input type="text" id="gc-sma-responsible" name="responsible" required class="form-control"
        placeholder="Ingrese el responsable de la red social">
    </div>

    <div class="form-items">
      <label>Cantidad de Publicaciones</label><br>
      <input type="number" id="gc-sma-publications" name="publications" required class="form-control"
        placeholder="Ingrese la cantidad de publicaciones">
    </div>
  </div>

  <br>

  <div align="center">
    <input type="submit" class="bnt" value="Enviar" style="width: 90px;">
  </div>
</form>

{% include "utils/modal/modal-footer.html" %}

<!-- =========== Scripts =========  -->
<script type="module" src="{% static 'js/gc/content-modal.mjs' %}"></script>