{% extends layout_path %}

{% load static %}

{% block title %}{{ titlePage }}{% endblock %}

{% block breadcrumbs %}
{% if submodule %}
<span class="text-muted fw-light">
  <a href="{{ indexUrl }}" class="text-muted fw-light">{{ module }}</a> /
</span>
<span class="">{{ submodule }}</span>
{% else %}
<span class="">{{ module }}</span>
{% endif %}
{% endblock %}

{% block content %}
  <div id="biblioteca-wrapper"></div>
{% endblock %}

{% block page_css %}
{{ block.super }}

<style>
  .biblioteca-wrapper{
    min-height: 275px;
    background-color: #f0f2f4;
  }
  .bibliotecas{
    max-width: 250px;
    min-width: 215px;
  }
  .img-fluid-custom {
      width: 50px;
  }
  .pagination > .page-item {
    height: 41px;
  }
  .pagination > .page-item > .page-link {
    height: 100%;
    line-height: inherit;
  }
  .h-228 {
    height: 228px;
  }
</style>
{% endblock %}

{% block page_js %}
<script src="{% static 'js/ajax-setup.js' %}"></script>
<script>
$(document).ready(function () {
  $('#normativas-cards').empty();
  $('#reglamentos-cards').empty();

  const submodules = JSON.parse('{{ submodules|escapejs }}')
  
  submodules.forEach(submodule => {
    const url = submodule.api
    const modules = submodule.url
    const submoduleName = submodule.name.toLowerCase()

    $.ajax({
      url,
      type: 'GET',
      dataType: 'json'
    })
      .done(function (data) {
        $('#biblioteca-wrapper').append(`
          <div class="border rounded biblioteca-wrapper my-1">
            <div class="d-flex align-items-center">
              <h5 class="card-title text-uppercase py-2 px-5">${submoduleName}</h5>
              ${modules ? `<a href="${modules}" class="card-link text-end">Ver Todo</a>` : ''}
            </div>
            <div id="${submoduleName}-cards" class="d-flex flex-wrap justify-content-between gap-2 p-2 mb-2"></div>
          </div>
        `)
        
        $.each(data.entities, function(index, card) {
          const cardHtml = `<div class="col-auto">
            <div class="card h-100 align-items-center bibliotecas">
              <div class="card-body align-self-start">
                <h5 class="card-title">${card.name}</h5>
                <h6 class="card-subtitle text-uppercase">${submoduleName}</h6>
              </div>
              <img class="img-fluid img-fluid-custom" src="{% static 'img/biblioteca_book.svg' %}" alt="Card image cap" />
              <div class="card-body d-flex flex-column w-100">
                <p class="card-text text-center">${card.date}</p>
                <a href="javascript:void(0);" class="card-link text-end">Descargar</a>
              </div>
            </div>
          </div>`

          $(`#${submoduleName}-cards`).append(cardHtml);
        })

        if (data.error || !data.entities.length) {
          $(`#${submoduleName}-cards`).removeClass('justify-content-between');
          $(`#${submoduleName}-cards`).addClass('justify-content-center h-228 align-content-center');
          const cardHtml = `<h6 class="card-subtitle text-uppercase">No hay informacion para mostrar.</h6>`

          $(`#${submoduleName}-cards`).append(cardHtml);
        }
      })
      .fail((jqXHR, textStatus, errorThrown) => console.error)
  })
});
</script>
{% endblock %}
