{% extends "mantenimientos/base.html" %}

{% block title %} S.U.C.I | Mantenimiento/Departamento {% endblock %}

{% load static %}

{% block content %}

<div class="main--content">
    <div class="header--wrapper">
        <div class="header--title">
            <h2>Mantenimiento /<small> Departamento </small></h2>
        </div>
        <div class="user--info">
            <div class="searh--box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Buscar" />
            </div>
            <img src="{% static 'img/ven911.jpg' %}">
            <h2 class="title">V{{request.user.username}}</h2>
        </div>
    </div>

    <div align="right" style="margin-right: 100px; margin-bottom: -10px;">
        <button id="myBtnAdd" class="btn">Agregar</button>
    </div>


    <div class="tabular--wrapper">
        <h3 class="main--title">Recientes</h3>
        <div class="table-container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Departamento</th>
                        <th>Estatus</th>
                        <th>Acciones</th>
                    </tr>
                <tbody>
                    {% for mantDepartamento in departamento %}
                    <tr>
                        <td>{{ mantDepartamento.departamento }}</td>
                        <td>Activo</td>
                        <td><i class="fa-solid fa-trash-can"></i></td>
                    </tr>
                    {% endfor %}
                </tbody>
                </thead>
            </table>
        </div>
    </div>

    <!--    INCLUYE MODAL PARA AGREGAR, MODIFICAR, ELIMINAR PERSONAL     -->
    {% include "modal/addDepartamento.html" %}


    <script>

        //  JAVASCRIPT PARA ADD DEPARTAMENTO
        var modal = document.getElementById("addDepartamento");
        var btn = document.getElementById("myBtnAdd");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function () {
            modal.style.visibility = "visible";
            modal.style.opacity = 1;
        }

        span.onclick = function () {
            modal.style.visibility = "hidden";
            modal.style.opacity = 0;
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.visibility = "hidden";
                modal.style.opacity = 0;
            }
        }

    </script>



    {% endblock %}