{% extends "mantenimientos/base.html" %}

{% block title %} S.U.C.I | Mantenimiento/Grado de Instrucción {% endblock %}

{% load static %}

{% block content %}

<div class="main--content">
    <div class="header--wrapper">
        <div class="header--title">
            <h2>Mantenimiento /<small> Grado de Instrucción </small></h2>
        </div>
        <div class="user--info">
            <div class="searh--box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Buscar" />
            </div>
            <img src="{% static 'img/ven911.jpg' %}">
            <h2 class="title">V{{request.user.username}}</h2>
        </div>
    </div>

    <div align="right" style="margin-right: 100px; margin-bottom: -10px;">
        <button id="myBtnAddGrado" class="btn">Agregar</button>
    </div>


    <div class="tabular--wrapper">
        <h3 class="main--title">Recientes</h3>
        <div class="table-container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Grado de Instrucción</th>
                        <th>Estatus</th>
                        <th>Acciones</th>
                    </tr>
                <tbody>
                    {% for mantTallaGrado in grado_instruccion %}
                    <tr>
                        <td>{{ mantTallaGrado.grado_instruccion }}</td>
                        <td>Activo</td>
                        <td><i class="fa-solid fa-trash-can"></i></td>
                    </tr>
                    {% endfor %}
                </tbody>
                </thead>
            </table>
        </div>
    </div>

    <!--    INCLUYE MODAL PARA AGREGAR, MODIFICAR, ELIMINAR PERSONAL     -->
    {% include "modal/addGradoI.html" %}


    <script>

        //  JAVASCRIPT PARA ADD PERSONAL
        var modal = document.getElementById("addgradoI");
        var btn = document.getElementById("myBtnAddGrado");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function () {
            modal.style.visibility = "visible";
            modal.style.opacity = 1;
        }

        span.onclick = function () {
            modal.style.visibility = "hidden";
            modal.style.opacity = 0;
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.visibility = "hidden";
                modal.style.opacity = 0;
            }
        }

        //  JAVASCRIPT PARA UPDATE PERSONAL
        var modal1 = document.getElementById("modal-editar");
        var btn1 = document.getElementById("myBtnUpd");
        var span1 = document.getElementsByClassName("close2")[0];
        btn1.onclick = function () {
            modal1.style.visibility = "visible";
            modal1.style.opacity = 1;
        }

        span1.onclick = function () {
            modal1.style.visibility = "hidden";
            modal1.style.opacity = 0;
        }

        window.onclick = function (event) {
            if (event.target == modal1) {
                modal1.style.opacity = 0;
            }
        }

        $('#modal-editar').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var codigo = button.data('codigo'); // Extract info from data-* 
            var nombre = button.data('nombre'); // Extract info from data-* attributes

            var modal = $(this)
            modal.find('.modal-body #mod_codigo').val(codigo);
            modal.find('.modal-body #mod_nombre').val(nombre);

        })

    </script>



    {% endblock %}