{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
<!-- =============== Cabecera ================ -->	
		<meta charset="UTF-8">
 		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge">
  		<title>Gestión de Incidentes</title>
  		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  		<link rel="icon" type="image/x-icon" href="{% static '/img/favicon.icon' %}">
	</head>
    <body>
<!-- =============== Menú principal ================ -->
<div class="sidebar">
    <div class="logo"></div>
    <ul class="menu">
        <li class="active">
            <a href="#">
                    <img style="width:20px; height: 30px;" src="{% static 'img/favicon.png' %}">
                </span>
                <span class="title">S.U.C.I</span>
            </a>
        </li>
        <li>
            <a href="../seguridad/">
                <i class="fa-solid fa-house"></i>
                <span>Inicio</span>
            </a>
        </li>
        <li>
            <a href="../entradap">
                <i class="fa-solid fa-person-walking-arrow-right"></i>
                <span>Entrada</span>
            </a>
        </li>

        <li>
            <a href="../salidap">
                </i><i class="fa-solid fa-reply-all"></i>                        
                <span>Salida</span>
            </a>
        </li>
        <li>
            <a href="../gestion">
                <i class="fa-solid fa-inbox"></i>
                <span>Gestión</span>
            </a>
        </li>
        <li class="dropdown__list">
            <a href="#" class="dropdown__link">
                <i class="fa-solid fa-car-side"></i>
                <span class="dropdown__span">Vehículos</span>
                <input type="checkbox" class="dropdown__check">
            </a>
            <div class="dropdown__content">
                <ul class="dropdown__sub">
                    <li class="dropdown__li">
                        <a href="../ambulancia" class="dropdown__anchor">Ambulancia</a>
                    </li>
                    <li class="dropdown__li">
                        <a href="../patrulla" class="dropdown__anchor">Patrulla</a>
                    </li>
                    <li class="dropdown__li">
                        <a href="../particular" class="dropdown__anchor">Particular</a>
                    </li>
                </li>
            </ul>
        </div>
            <li class="logout.new">
                <a href="../../modulos">
                    <i class="fa-solid fa-arrow-left"></i>
                    <span>Volver</span>
                </a>
            </li>
        </li>
        <li class="logout" style="background: none;">
            <a href="{% url 'logout' %}">
                <label class="switch" for="checkbox">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="slider">
                        <path
                        d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V256c0 17.7 14.3 32 32 32s32-14.3 32-32V32zM143.5 120.6c13.6-11.3 15.4-31.5 4.1-45.1s-31.5-15.4-45.1-4.1C49.7 115.4 16 181.8 16 256c0 132.5 107.5 240 240 240s240-107.5 240-240c0-74.2-33.8-140.6-86.6-184.6c-13.6-11.3-33.8-9.4-45.1 4.1s-9.4 33.8 4.1 45.1c38.9 32.3 63.5 81 63.5 135.4c0 97.2-78.8 176-176 176s-176-78.8-176-176c0-54.4 24.7-103.1 63.5-135.4z"
                        ></path>
                    </svg>
                </label>
            </a>
        </li>
    </ul>
</div>
<!-- ========================= Menú de usuario ==================== -->
<div class="main--content">
    <div class="header--wrapper">
        <div class="header--title">
        <h2>Gestión de Incidentes</h2>
    </div>
    <div class="user--info">
        <img src="{% static 'img/ven911.jpg' %}">
        <h2 class="title">V{{request.user.username}}</h2>
    </div>
</div>
<!-- ======================= Botones ======================  -->
<div class="tabular--wrapper">
    <h3 class="main--title"></h3>
    <div class="user--info">
        <form id="formConsulta" method="GET" action="{% url 'gestion_consultar' accion='consultar' %}">
            <div class="searh--box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" name="name" id="inputname" placeholder="Buscar">
                <button type="submit" class="btn">Consultar</button>
                <button type="button" class="btn" onclick="location.href='{% url 'gestion' %}'">Limpiar</button>      
            </div>
        </form>
        <button id="myBtn" class="bt">Agregar</button>
        <button class="myBtn">Generar PDF</button>
<!-- ======================= Paginator ======================  -->
<center>
    <section class="ulpgcds-pager">
        <ul class="ulpgcds-pager-ul">
            {%if gestionp.has_previous %} {# whether the previous page exists #}
                <li class="ulpgcds-pageritem ulpgcds-pageritem--prev">
                    <a class="pagination__link" href="?page={{gestionp.previous_page_number}}" title="Ir a la página anterior"><span class="visually-hidden">Anterior</span></a>
                </li>
            {% endif %}
            {% for i in gestionp.paginator.page_range %}
                {% if gestionp.number == i %}
                    <li class="ulpgcds-pageritem ulpgcds-pageritem--is-active">
                        <a class="pagination__link" href="?page={{gestionp.number}}">{{ i }}</a>
                    </li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {%if gestionp.has_next %} {# whether the next page exists #}
                <li class="ulpgcds-pageritem ulpgcds-pageritem--next">
                    <a class="pagination__link" href="?page={{gestionp.next_page_number}}" title="Ir a la página siguiente">
                        <span class="visually-hidden">Siguiente</span>
                    </a>
                </li>
            {% endif %}
            </ul>
            </section>
        </center>
    </div>
</div>
<!-- ======================= Formulario ======================  -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" style="margin-top: -10px;">&times;</span>
        <div class="modal-header">
            <h2>Agregar Incidente</h2>
        </div>
        <br>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <div class="form-items">
                    <label>Nombre</label>
                    <br>
                    <input type="text" class="form-control" name="{{form2.name.html_name}}" placeholder="Ingrese el nombre" required>
                </div>
                <div class="form-items">
                    <label>Apellido</label>
                    <br>
                    <input type="text" class="form-control" name="{{form2.apellido.html_name}}" placeholder="Ingrese el apellido" required>
                </div>
                <div class="form-items">
                    <label>Cédula</label>
                    <br>
                    <input type="number" class="form-control" name="{{form2.cedula.html_name}}" placeholder="Ingrese la cédula" required>
                </div>
                <div class="form-items">
                    <label>Dirección</label>
                    <br>
                    <input type="text" class="form-control" name="{{form2.direccion.html_name}}" placeholder="Ingrese la dirección" required>
                </div>
                <div class="form-items">
                    <label>Tipo de Incidente</label>
                    <br>
                    <select name="{{ formesp.tipo.html_name }}" id="">
                        <option value="Retiro">Retiro - R</option>
                        <option value="Conflictos">Conflictos - C</option>
                        <option value="Conflicto Ajeno">Conflicto Ajeno - CA</option>
                    </select>
                </div>
                <div class="form-items">
                    <label>Descripción</label>
                    <br>
                    <select name="{{form2.descripcion.html_name}}" id="">
                        <option value="Improvisto">Improvisto - R</option>
                        <option value="Accidente Familiar">Accidente Familiar - R</option>
                        <option value="Accidente Laboral">Accidente Laboral - R</option>
                        <option value="Retiro por Despido">Retiro por Despido - R</option>
                        <option value="Retiro por Renuncia">Retiro por Renuncia - R</option>
                        <option value="Confrotamiento entre Personal">Confrotamiento entre Personal - C</option>
                        <option value="Urto o Pérdida de Bienes">Urto o Pérdida de Bienes - C</option>
                        <option value="Urto o Pérdida de Propiedades de Personal">Urto o Pérdida de Propiedades de Personal - CA</option>
                        <option value="Confrotamiento entre Personal y Natural">Confrotamiento entre Personal y Natural - CA</option>
                    </select>
                </div>
                <div class="form-items">
                    <label>Fecha</label>
                    <br>
                    <input type="date" class="form-control" name="{{form2.fecha.html_name}}" placeholder="Ingrese la fecha" required>
                </div>
                <div class="form-items">
                    <label>Hora</label>
                    <br>
                    <input type="time" class="form-control" name="{{form2.hora.html_name}}" placeholder="Ingrese la hora" required>
                </div>
                <div class="form-items">
                    <label>Cargo</label>
                    <br>
                    <input type="text" class="form-control" name="{{form2.cargo.html_name}}" placeholder="Ingrese el cargo" required>
                </div>
            </div>
            <br>
            <div align="center">
                <input type="submit" class="bnt" value="Enviar" style="width: 90px;">
            </div>
        </form>
    </div>
</div>
<!-- ===================== Tabla ====================  -->
<div class="tabular--wrapper" style="margin-top: 10px; padding-top: 10px;" >
    <div class="table-container">            
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Cédula</th>
                    <th>Dirección</th>
                    <th>Tipo de Incidente</th>
                    <th>Descripción</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Cargo</th>
                    <th>Acciones</th>
                </tr>
                <tbody>
                    {% for archivo in gestionp %}
                        <tr>
                            <td>{{ archivo.name }}</td>
                            <td>{{ archivo.apellido }}</td>
                            <td>{{ archivo.cedula }}</td>
                            <td>{{ archivo.direccion }}</td>
                            <td>{{ archivo.tipo }}</td>
                            <td>{{ archivo.descripcion }}</td>
                            <td>{{ archivo.fecha }}</td>
                            <td>{{ archivo.hora }}</td>
                            <td>{{ archivo.cargo }}</td>
                            <td>
                                <a href="#" id="myBtnn3{{ archivo.id }}" style="color: black;"><i class="fa-solid fa-pen-to-square"></i></a>
                                &nbsp;&nbsp;&nbsp;
                                <a href="#" id="myBtnn2{{ archivo.id }}" style="color: black;"><i class="fa-solid fa-trash"></i></a>
                                <div id="myModall3{{ archivo.id }}" class="modal">
                                    <div class="modal-content">
                                        <span class="closee3{{ archivo.id }} close" style="margin-top: -10px;">&times;</span>
                                        <div class="modal-header">
                                            <h2>Modificar Incidente</h2>
                                        </div>
                                        <br>
                                        <form method="POST" action="gestion/update/{{ archivo.pk }}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="form-items">
                                                    <label>Nombre</label>
                                                    <br>
                                                    <input type="text" class="form-control" name="{{ formesp.name.html_name }}" placeholder="Ingrese el nombre" value="{{ archivo.name }}" required>
                                                </div>
                                                <div class="form-items">
                                                    <label>Apellido</label>
                                                    <br>
                                                    <input type="text" class="form-control" name="{{ formesp.apellido.html_name }}" placeholder="Ingrese el apellido" value="{{ archivo.apellido }}" required>
                                                </div>
                                                <div class="form-items">
                                                    <label>Cédula</label>
                                                    <br>
                                                    <input type="number" class="form-control" name="{{ formesp.cedula.html_name }}" placeholder="Ingrese la cédula" value="{{ archivo.cedula }}" required>
                                                </div>
                                                <div class="form-items">
                                                    <label>Dirección</label>
                                                    <br>
                                                    <input type="text" class="form-control" name="{{ formesp.direccion.html_name }}" placeholder="Ingrese la dirección" value="{{ archivo.direccion }}" required>
                                                </div>
                                                <div class="form-items">
                                                    <label>Tipo de Incidente</label>
                                                    <br>
                                                    <select name="{{ formesp.tipo.html_name }}" id="">
                                                        <option value="Retiro">Retiro</option>
                                                        <option value="Conflictos">Conflictos</option>
                                                        <option value="Conflicto Ajeno">Conflicto Ajeno</option>
                                                    </select>
                                                </div>
                                                <div class="form-items">
                                                    <label>Descripción</label>
                                                    <br>
                                                    <select name="{{ formesp.descripcion.html_name }}" id="">
                                                        <option value="Improvisto">Improvisto - R</option>
                                                        <option value="Accidente Familiar">Accidente Familiar - R</option>
                                                        <option value="Accidente Laboral">Accidente Laboral - R</option>
                                                        <option value="Retiro por Despido">Retiro por Despido - R</option>
                                                        <option value="Retiro por Renuncia">Retiro por Renuncia - R</option>
                                                        <option value="Confrotamiento entre Personal">Confrotamiento entre Personal - C</option>
                                                        <option value="Urto o Pérdida de Bienes">Urto o Pérdida de Bienes - C</option>
                                                        <option value="Urto o Pérdida de Propiedades de Personal">Urto o Pérdida de Propiedades de Personal - CA</option>
                                                        <option value="Confrotamiento entre Personal y Natural">Confrotamiento entre Personal y Natural - CA</option>
                                                    </select>
                                                </div>
                                                <div class="form-items">
                                                    <label>Fecha</label>
                                                    <br>
                                                    <input type="date" class="form-control" name="{{ formesp.fecha.html_name }}" placeholder="Ingrese la fecha" value="{{ archivo.fecha|date:"Y-m-d" }}" required>
                                                </div>
                                                <div class="form-items">
                                                    <label>Hora</label>
                                                    <br>
                                                    <input type="time" class="form-control" name="{{ formesp.hora.html_name }}" placeholder="Ingrese la hora" value="{{ archivo.hora }}" required>
                                                </div>
                                                <div class="form-items">
                                                    <label>Cargo</label>
                                                    <br>
                                                    <input type="text" class="form-control" name="{{ formesp.cargo.html_name }}" placeholder="Ingrese el cargo" value="{{ archivo.cargo }}" required>
                                                </div>
                                            </div>
                                            <br>
                                            <div align="center">
                                                <input type="submit" class="bnt" value="Enviar" style="width: 90px;">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <script>
                                    var modall3{{ archivo.id }} = document.getElementById("myModall3{{ archivo.id }}");
                                    var btnn3{{ archivo.id }} = document.getElementById("myBtnn3{{ archivo.id }}");
                                    var spann3{{ archivo.id }} = document.getElementsByClassName("closee3{{ archivo.id }}")[0];
                                    btnn3{{ archivo.id }}.onclick = function() {
                                        modall3{{ archivo.id }}.style.visibility = "visible";
                                        modall3{{ archivo.id }}.style.opacity = 1;
                                    }
                                
                                    spann3{{ archivo.id }}.onclick = function() {
                                        modall3{{ archivo.id }}.style.visibility = "hidden";
                                        modall3{{ archivo.id }}.style.opacity = 0;
                                    }
                                
                                    window.onclick = function(event) {
                                        if (event.target == modall3{{ archivo.id }}) {
                                            modall3{{ archivo.id }}.style.visibility = "hidden";
                                            modall3{{ archivo.id }}.style.opacity = 0;
                                        }
                                    }
                                </script>
                                <div id="myModall2{{ archivo.id }}" class="modal">
                                    <div class="modal-content">
                                        <span class="closee2{{ archivo.id }} close" style="margin-top: -10px;">&times;</span>
                                        <div class="modal-header">
                                            <form action="gestion/delete/{{ archivo.id }}" method="POST">
                                                {% csrf_token %}
                                                <br>
                                                <div align="center">
                                                    <h2>¿Estás seguro de eliminar este registro?</h2>
                                                </div>
                                                <br><br>
                                                <div align="center">
                                                    <input type="submit" class="bnt" value="Eliminar" style="width: 90px;">
                                                </div>
                                            </form>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                                <script>
                                    var modall2{{ archivo.id }} = document.getElementById("myModall2{{ archivo.id }}");
                                    var btnn2{{ archivo.id }} = document.getElementById("myBtnn2{{ archivo.id }}");
                                    var spann2{{ archivo.id }} = document.getElementsByClassName("closee2{{ archivo.id }}")[0];
                                    btnn2{{ archivo.id }}.onclick = function() {
                                        modall2{{ archivo.id }}.style.visibility = "visible";
                                        modall2{{ archivo.id }}.style.opacity = 1;
                                    }
            
                                    spann2{{ archivo.id }}.onclick = function() {
                                        modall2{{ archivo.id }}.style.visibility = "hidden";
                                        modall2{{ archivo.id }}.style.opacity = 0;
                                    }
            
                                    window.onclick = function(event) {
                                        if (event.target == modall{{ archivo.id }}) {
                                            modall2{{ archivo.id }}.style.visibility = "hidden";
                                            modall2{{ archivo.id }}.style.opacity = 0;
                                        }
                                    }
                                </script>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
    </div>
</div>
<!-- =========== Scripts =========  -->
<script src="{% static 'js/main.js' %}"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script>
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("myBtn");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function() {
            modal.style.visibility = "visible";
            modal.style.opacity = 1;
        }

        span.onclick = function() {
            modal.style.visibility = "hidden";
            modal.style.opacity = 0;
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.visibility = "hidden";
                modal.style.opacity = 0;
            }
        }
        </script>
    </body>
</html>