<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Incidencias - Potencia - VEN 911 </title>
    <link href="{% static 'potenciawebapp/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link type= "text/css" href="{% static 'potenciawebapp/estilos.css/style.css' %}" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans:wght@300&display=swap" rel="stylesheet">
</head>   

<!-- Contenido Cambiante  -->  

    {% block content %}

    {% endblock %}

    <script scr="{% static 'potenciawebapp/vendor/jquery/jquery.min.js' %}"> </script>
    <script scr="{% static 'potenciawebapp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"> </script>
</body>
</html>