{% extends "templates/base.html" %}
{% load static %}
{% block content %}

<center>
<img src="{% static 'img/ministeriome.jpg' %}" class="imagen">
</center>
<br>
<center>   
    <h1>Gestión de Incidencias de Sedes del VEN 911 </h1>
    </center> 
<div class="contenedor">
<div class="columna"> 
    <div>
        <h3> Solicitud </h3>
    </div>
<a href="{% url 'Incidencia' %}">Crear Solicitud</a>
    </div>
<hr/>
<div class="contenedor2">
<div class="columna2">
<div>
        <h3> Reportes </h3>
</div>
        <a href="{% url 'Estatus' %}">Ver Estatus de Incidencias Registradas</a>
<div class="contenedor2">
    <div class="columna2">
        <a href="{% url 'Reportes' %}">Validacion de Reportes</a>
    </div>
</div>
</div>
{% endblock %}