{% extends "potenciawebapp/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        ¡Hay un error repentindo!
    </div>
    {% endif %}

    <h2> Registrar Incidencia </h2>

    <form action="{% url 'guardarIncidencias' %}" method="POST">

        {% csrf_token %}
        {% if mensaje %}
        <div class="alert alert-success" role="alert">
            ¡Registro de Incidencia Exitoso!
        </div>
        {% endif %}

        {{form|crispy}}

        <button type="submit" class="btn btn-success">Guardar</button>
    </form>

{% endblock %}