{% extends layout_path %}

{% load static %}

{% block title %}{{ titlePage }}{% endblock %}

{% block breadcrumbs %}
<span class="">{{ module }}</span>
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    Cooming Soon
    <h1>{{ submodule }}</h1>
  </div>
  <div class="card-body">
    Sub Modulos
    <div class="">
      {% for name, link in submoduleList %}
        <a href="{{ link }}" class="btn btn-outline-primary">
          <span class="tf-icons bx bx-plus me-1"></span>{{ name }}
        </a>
      {% endfor %}
      </div>

      
  <!-- Order Statistics -->
  <div class="row align-items-center">
  <div class="col-lg-6 col-sm-12 mb-6">
    <div id="idFirstStatisticsChart"></div>
  </div>
  <div class="col-lg-6 cpl-sm-12 mb-6 m-auto">
    <div id="idSecondStatisticsChart" ></div>
  </div>
  <!--/ Order Statistics -->
  </div>
</div>
</div>
{% endblock %}

{% block vendor_css %}
<link rel="stylesheet" href="{% static 'vendor/libs/data-tables/css/dataTables.bootstrap5.css' %}">
{% endblock %}

{% block vendor_js %}
<script>
	const data = {{ data|safe }};
	const labels = {{ labels|safe }};
</script>

<script src="{% static 'vendor/libs/apex-charts/apexcharts.js' %}"></script>
<script src="{% static 'js/charts/dashboard.js' %}"></script>
{% endblock %}
