{% extends "base.html" %}
{% load static %}

{% block addCss %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div id="root">
  <div class="msg false">
    <strong class="msg__text"></strong>
    <button type="button" class="btn msg__btn">
      <svg role="img" class="icon ">
        <use href="/assets/system-9d4ad3af.svg#close"></use>
      </svg>
    </button>
  </div>

  <div class="home">
    <section class="login">
      <h2 class="login__title">
        <img style="width:20px; height: 30px; margin-right: 10px;" src="{% static 'img/favicon.png' %}">
        <span>Correo</span>
      </h2>

      <form class="login__content box" method="POST">
        {% csrf_token %}
        <div class="input undefined">
          <label align="center" for="correo" class="input__label">Ingrese la dirección de correo donde se le será
            enviado la contraseña:</label>
          <div class="input__style undefined">
            <input type="text" id="ci" name="username" placeholder="Ingrese correo" class="input__input " value="">
            <div class="input__contentIcon">
              <img src="{% static 'img/card.svg' %}" style="width: 25px;">
            </div>
          </div>
        </div>

        <button type="submit" class="btn btnStyle">Enviar</button>
        
        <a class="login__recovery" href="/recuperar-password">
          <span>Recuperar contraseña</span>
          <i class="fa-solid fa-unlock-keyhole"></i>
        </a>
      </form>
    </section>
  </div>

  <div class="modal false">
    <section class="modal__content box false">
      <button type="button" class="btn modal__btn">

      </button>
  </div>
</div>
{% endblock %}