{% load static %}
<!-- =============== Navigation ================ -->
<div class="sidebar">
    <div class="logo"></div>
    <ul class="menu">
        <li class="active">
            <a href="/modulos"> <!--  HOME / MODULOS  -->
                <img style="width:20px; height: 30px;" src="{% static 'img/favicon.png' %}">
                <span class="title">S.U.C.I</span>
            </a>
        </li>
        <li class="activado">
            <a href="/gestionHumanaApp/estadocivil" class="activadoa">
                <i class="fa-solid fa-user-pen"></i>
                <span>Estado Civil</span>
            </a>
        </li>
        <li class="activado">
            <a href="/gestionHumanaApp/genero" class="activadoa">
                <i class="fa-solid fa-venus-mars"></i>
                <span>Género</span>
            </a>
        </li>
        <li class="activado">
            <a href="/gestionHumanaApp/tallaCamisa" class="activadoa">
                <i class="fa-sharp fa-solid fa-shirt"></i>
                <span>Tallas de Camisa</span>
            </a>
        </li>
        <li class="activado">
            <a href="/gestionHumanaApp/tallaPantalon" class="activadoa">
                <i class="fa-solid fa-person"></i>
                <span>Tallas de Pantalón</span>
            </a>
        </li>
        <li class="activado">
            <a href="/gestionHumanaApp/tallaZapato" class="activadoa">
                <i class="fa-solid fa-shoe-prints"></i>
                <span>Tallas de Zapato</span>
            </a>
        </li>
        <li class="activado">
            <a href="/gestionHumanaApp/gradoInstruccion" class="activadoa">
                <i class="fa-solid fa-user-check"></i>
                <span>Grado de Instrucción</span>
            </a>
        </li>
        <li class="activado">
            <a href="/gestionHumanaApp/tipoPersonal" class="activadoa">
                <i class="fa-solid fa-user-gear"></i>
                <span>Tipo de Personal</span>
            </a>
        </li>
        <li class="activado">
            <a href="/gestionHumanaApp/cargo" class="activadoa">
                <i class="fa-solid fa-user-group"></i>
                <span>Cargos</span>
            </a>
        </li>

        <li class="activado">
            <a href="/gestionHumanaApp/departamento" class="activadoa">
                <i class="fa-solid fa-ticket-simple"></i>
                <span>Departamento</span>
            </a>
        </li>

        <li class="activado">
            <a href="/gestionHumanaApp/sedes" class="activadoa">
                <i class="fa-solid fa-school-circle-check"></i>
                <span>Sedes</span>
            </a>
        </li>
        
        <li class="logout.new">
            <a href="/gestionHumanaApp/"><!--  HOME / MODULOS  -->
                <i class="fa-solid fa-arrow-left"></i>
                <span>Volver</span>
            </a>
        </li>

        <li class="logout">
            <a href="#">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="title">Salir</span>
            </a>
        </li>

    </ul>
</div>