{% load static %}
<!-- =============== Navigation ================ -->
<div class="sidebar">
    <div class="logo"></div>
    <ul class="menu">
        <li class="active">
            <a href="/modulos"> <!--  HOME / MODULOS  -->
                <img style="width:20px; height: 30px;" src="{% static 'img/favicon.png' %}">
                <span class="title">S.U.C.I</span>
            </a>
        </li>
        <li class="activado">
            <a href="/gestionHumanaApp" class="activadoa">
                <i class="fa-solid fa-person-dress"></i>
                <span>Gestión Humana</span>
            </a>
        </li>
        <li class="activado">
            <a href="/gestionHumanaApp/personalRetirado" class="activadoa">
                <i class="fa-solid fa-user-minus"></i>
                <span>Personal Retirado</span>
            </a>
        </li>
        <li class="activado">
            <a href="/gestionHumanaApp/personalVacaciones" class="activadoa">
                <i class="fa-solid fa-person-dress"></i>
                <span>Personal de Vacaciones</span>
            </a>
        </li>
        <li class="activado">
            <a href="/gestionHumanaApp/estadocivil" class="activadoa">
                <i class="fa-solid fa-gear"></i>
                <span>Mantenimientos</span>
        </li>
       
        <li class="logout.new">
            <a href="/modulos"><!--  HOME / MODULOS  -->
                <i class="fa-solid fa-arrow-left"></i>
                <span>Volver</span>
            </a>
        </li>
        
        <li class="logout">
            <a href="#">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="title">Salir</span>
            </a>
        </li>
    </ul>
</div>