{% load static %}
{% include "utils/modal/modal-header.html" %}

<!-- =========== Contenido del Modal =========  -->
<form data-form>
  {% csrf_token %}

  <div class="form-group">
    <div class="form-items">
      <label>Departamento</label>
      <br>
      <input type="text" class="form-control" name="{{form6.departamento.html_name}}"
        placeholder="Ingrese el departamento" required>
    </div>

    <div class="form-items">
      <label>Estado</label>
      <br>
      <input type="text" class="form-control" name="{{form6.estado.html_name}}" placeholder="Ingrese el estado"
        required>
    </div>
  </div>

  <br>

  <div align="center">
    <input type="submit" class="bnt" value="Enviar" style="width: 90px;">
  </div>
</form>

{% include "utils/modal/modal-footer.html" %}

<!-- =========== Scripts =========  -->
<script src="{% static 'js/paneluser/content-departamento-modal.js' %}"></script>