{% extends "dashboard-base.html" %}

{% block title %}Emergencias{% endblock %}

<!-- ========s======= Items del Menu ================ -->
{% block menuItems %}
<li>
  <a href="{% url 'emergency' %}">
    <i class="fa-solid fa-truck-medical"></i>
    <span>Emergencias</span>
  </a>
</li>

<li>
  <a href="{% url 'completed_emergency' %}">
    <i class="fa-solid fa-house-medical-circle-check"></i>
    <span>Emergencias Completadas</span>
  </a>
</li>

<li>
  <a href="{% url 'statistics_estado' %}">
    <i class="fa-solid fa-chart-pie"></i>
    <span>Estadisticas</span>
  </a>
</li>
{% endblock %}