{% extends "emergencia/base.html" %}

<!-- ========================= Menú usuario ==================== -->
{% block mainContentHeaderTitle %}Estadísticas Municipio{% endblock %}

{% block content %}
<main class="container py-5">
  <section class="card-body">
    <h1>Estadísticas Municipio</h1>
  </section>

  <div class="col d-flex justify-content-between m-4">
    <a class=" btn btn-primary" href="{% url 'statistics_estado' %}">Estadistica Estado</a>
    <a class=" btn btn-primary" href="{% url 'statistics_municipio' %}">Estadistica Municipio</a>
    <a class="btn btn-primary" href="{% url 'statistics_parroquia' %}">Estadistica Parroquia</a>
    <a class="btn btn-primary" href="{% url 'statistics_incidencia' %}">Estadistica Incidencia</a>
    <a class="btn btn-primary" href="{% url 'statistics_organismo' %}">Estadistica Organismo</a>
  </div>

  <div class="col-md-8 offset-md-2">
    <canvas id="myChart"></canvas>
  </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: {{ labels| safe}},
    datasets: [{
      label: 'Municipio',
      data: {{ data| safe}},
    borderWidth: 1
                }]
            },
    options: {
    indexAxis: 'y',
    // Elements options apply to all of the options unless overridden in a dataset
    // In this case, we are setting the border of each horizontal bar to be 2px wide
    elements: {
      bar: {
        borderWidth: 2,
      }
    },
    responsive: true,
    plugins: {
      legend: {
        position: 'right',
      },
    }
  },
        });
</script>
{% endblock %}