{% extends "emergencia/base.html" %}

<!-- ========================= Menú usuario ==================== -->
{% block mainContentHeaderTitle %}Seguimiento Emergencia{% endblock %}

{% block content %}
<main class="container mt-5">
  <div class="col-md-8 offset-md-2">
    <form class="card card-body" method="POST">
      <h1>Seguimiento Emergencia: {{ emergency.id }}</h1>

      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-primary">
        Actualizar
      </button>
    </form>
    <form class="card card-body" action="{% url 'complete_emergency' emergency.id %}" method="POST">
      {% csrf_token %}
      <button class="btn btn-success">
        Completar emergencia
      </button>
    </form>
  </div>
</main>
{% endblock %}