{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
<!-- =============== Cabeceras ================ -->	
		<meta charset="UTF-8">
 		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge">
  		<title>Acciones Centralizadas</title>
  		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"> 
  		<link rel="icon" type="image/x-icon" href="{% static '/img/favicon.icon' %}">
	</head>
<body>
<!-- =============== Menú principal ================ -->
<div class="sidebar">
    <div class="logo"></div>
        <ul class="menu">
            <li class="active">
                <a href="#">
                        <img style="width:20px; height: 30px;" src="{% static 'img/favicon.png' %}">
                    </span>
                    <span class="title">S.U.C.I</span>
                </a>
            </li>
            <li>
                <a href="../../iniciopre">
                    <i class="fa-solid fa-house-user"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li class="dropdown__list">
                <a href="#" class="dropdown__link">
                    <i class="fa-solid fa-money-bill"></i>
                    <span class="dropdown__span">Presupuesto</span>
                    <input type="checkbox" class="dropdown__check">
                </a>
                <div class="dropdown__content">
                    <ul class="dropdown__sub">
                        <li class="dropdown__li">
                            <a href="../proyecto" class="dropdown__anchor">Proyecto</a>
                        </li>

                        <li class="dropdown__li">
                            <ul class="dropdown__sub">
                            <a href="../acciones" class="dropdown__anchor">Acciones Centralizadas</a>
                            </li>
                        </li>
                    </ul>
                </div>
            <li>
                <a href="../asignacion">
                    <i class="fa-solid fa-clone"></i>
                    <span>Asignación</span>
                </a>
            </li>
            <li class="dropdown__list">
                <a href="#" class="dropdown__link">
                    <i class="fa-solid fa-arrow-up-from-bracket"></i>
                    <span class="dropdown__span">Traspasos</span>
                    <input type="checkbox" class="dropdown__check">
                </a>
                <div class="dropdown__content">
                    <ul class="dropdown__sub">
                        <li class="dropdown__li">
                            <a href="../cedente" class="dropdown__anchor">Cedente</a>
                        </li>

                        <li class="dropdown__li">
                            <ul class="dropdown__sub">
                            <a href="../receptor" class="dropdown__anchor">Receptor</a>
                            </li>
                        </li>
                    </ul>
                </div>
            <li class="logout.new">
                <a href="../../modulos">
                    <i class="fa-solid fa-arrow-left"></i>
                    <span>Volver</span>
                </a>
            </li>
            <li class="logout" style="background: none;">
                <a href="{% url 'logout' %}">
                    <label class="switch" for="checkbox">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="slider">
                            <path
                            d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V256c0 17.7 14.3 32 32 32s32-14.3 32-32V32zM143.5 120.6c13.6-11.3 15.4-31.5 4.1-45.1s-31.5-15.4-45.1-4.1C49.7 115.4 16 181.8 16 256c0 132.5 107.5 240 240 240s240-107.5 240-240c0-74.2-33.8-140.6-86.6-184.6c-13.6-11.3-33.8-9.4-45.1 4.1s-9.4 33.8 4.1 45.1c38.9 32.3 63.5 81 63.5 135.4c0 97.2-78.8 176-176 176s-176-78.8-176-176c0-54.4 24.7-103.1 63.5-135.4z"
                            ></path>
                        </svg>
                    </label>
                </a>
            </li>
        </ul>
    </div>
<!-- ========================= Menú usuario ==================== -->
<div class="main--content">
    <div class="header--wrapper">
        <div class="header--title">
        <h2>Acciones Centralizadas</h2>
    </div>
    <div class="user--info">
        <img src="{% static 'img/ven911.jpg' %}">
        <h2 class="title">V{{request.user.username}}</h2>
    </div>
</div>
<!-- ======================= Botones ======================  -->
<div class="tabular--wrapper">
    <h3 class="main--title"></h3>
    <div class="user--info">
        <form method="GET" action="{% url 'acciones_consultar' accion='consultar' %}">
            <div class="searh--box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" name="nombrep" placeholder="Buscar">
                <button type="submit" class="btn">Consultar</button>
                <button type="button" class="btn" onclick="location.href='{% url 'acciones' %}'">Limpiar</button>      
            </div>
        </form>
        <button id="myBtn" class="bt">Agregar</button>
        <a href="{% url 'acciones_pdf' %}" class="myBtn">Generar PDF</a>
<!-- ======================= Paginator ======================  -->
<center>
    <section class="ulpgcds-pager">
        <ul class="ulpgcds-pager-ul">
            {%if accioness.has_previous %} {# whether the previous page exists #}
                <li class="ulpgcds-pageritem ulpgcds-pageritem--prev">
                    <a class="pagination__link" href="?page={{accioness.previous_page_number}}" title="Ir a la página anterior"><span class="visually-hidden">Anterior</span></a>
                </li>
            {% endif %}
            {% for i in accioness.paginator.page_range %}
                {% if accioness.number == i %}
                    <li class="ulpgcds-pageritem ulpgcds-pageritem--is-active">
                        <a class="pagination__link" href="?page={{accioness.number}}">{{ i }}</a>
                    </li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {%if accioness.has_next %} {# whether the next page exists #}
                <li class="ulpgcds-pageritem ulpgcds-pageritem--next">
                    <a class="pagination__link" href="?page={{accioness.next_page_number}}" title="Ir a la página siguiente">
                        <span class="visually-hidden">Siguiente</span>
                    </a>
                </li>
            {% endif %}
            </ul>
            </section>
        </center>
    </div>
</div>
<!-- ======================= Formulario ======================  -->       
 <div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" style="margin-top: -10px;">&times;</span>
        <div class="modal-header">
            <h2>Agregar Nuevo Proyecto</h2>
        </div>
        <br>
        <form method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="form-group">
                <div class="form-items">
                    <label>Nombre del Proyecto</label>
                    <br>
                    <input required type="text" class="form-control" name="{{form14.nombrep.html_name}}" placeholder="Ingrese el nombre" required>
                </div>
                <div class="form-items">
                    <label>Fecha de Inicio</label>
                    <br>
                    <input required type="date" class="form-control" name="{{form14.fechai.html_name}}" placeholder="Ingrese la fecha" required>
                </div>
                <div class="form-items">
                    <label>Fecha de Culminación</label>
                    <br>
                    <input required type="date" class="form-control" name="{{form14.fechac.html_name}}" placeholder="Ingrese la fecha" required>
                </div>
                <div class="form-items">
                    <label>Situación Presupuestaria</label>
                    <br>
                    <input required type="text" class="form-control" name="{{form14.situacionp.html_name}}" placeholder="Ingrese Situación" required>
                </div>
                <div class="form-items">
                    <label>Monto Total del Proyecto</label>
                    <br>
                    <input required type="text" class="form-control" name="{{form14.montoproyecto.html_name}}" placeholder="Ingrese Monto" required>
                </div>
                <div class="form-items">
                    <label>Responsable Gerente</label>
                    <br>
                    <input required type="text" class="form-control" name="{{form14.responsableg.html_name}}" placeholder="Ingrese Nombre y Apellido" required>
                </div>
                <div class="form-items">
                    <label>Responsable Técnico</label>
                    <br>
                    <input required type="text" class="form-control" name="{{form14.responsablet.html_name}}" placeholder="Ingrese Nombre y Apellido" required>
                </div>
                <div class="form-items">
                    <label>Responsable Registrador</label>
                    <br>
                    <input required type="text" class="form-control" name="{{form14.responsabler.html_name}}" placeholder="Ingrese Nombre y Apellido" required>
                </div>
                <div class="form-items">
                    <label>Responsable Administrativo</label>
                    <br>
                    <input required type="text" class="form-control" name="{{form14.responsablea.html_name}}" placeholder="Ingrese Nombre y Apellido" required>
                </div>
                <div class="form-items">
                    <label>Estatus</label>
                        <br>
                        <select name="{{form14.estatus.html_name}}" class="form-control" required>
                            <option value="" disabled selected>Seleccione una opción</option>
                            <option value="Aprobado">Aprobado</option>
                            <option value="Negado">Negado</option>
                            <option value="En proceso">En proceso</option>
                        </select>
                    </div>
            </div>
            <br>
            <div align="center">
                <input type="submit" class="bnt" value="Enviar" style="width: 90px;">
            </div>
        </form>
    </div>
</div>
<!-- ===================== Tablas ====================  -->
<div class="tabular--wrapper" style="margin-top: 10px; padding-top: 10px;" >
    <div class="table-container">           
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Inicio</th>
                    <th>Culminación</th>
                    <th>Situación Presupuestaria</th>
                    <th>Monto Total del Proyecto</th>
                    <th>Gerente Responsable</th>
                    <th>Técnico Responsable</th>
                    <th>Registrador Responsable</th>
                    <th>Responsable Administrativo</th>
                    <th>Estatus</th>
                    <th>Acciones</th>
                </tr>
                <tbody>
                    {% for archivo in accioness %}
                        <tr>
                            <td><strong>{{ archivo.id }}</strong></td>
                            <td>{{ archivo.nombrep }}</td>
                            <td>{{ archivo.fechai }}</td>
                            <td>{{ archivo.fechac }}</td>
                            <td><strong>{{ archivo.situacionp }}</strong></td>
                            <td><strong>{{ archivo.montoproyecto }}</strong></td>
                            <td>{{ archivo.responsableg }}</td>
                            <td>{{ archivo.responsablet }}</td>
                            <td>{{ archivo.responsabler }}</td>
                            <td>{{ archivo.responsablea }}</td>
                            <td><p class="negado">{{ archivo.estatus }}</p></td>
                            <td>
                                <a href="#" id="myBtnn3{{ archivo.id }}" style="color: black;"><i class="fa-solid fa-pen-to-square"></i></a>
                                &nbsp;&nbsp;&nbsp;
                                <a href="#" id="myBtnn2{{ archivo.id }}" style="color: black;"><i class="fa-solid fa-trash"></i></a>
                                <div id="myModall3{{ archivo.id }}" class="modal">
                                    <div class="modal-content">
                                        <span class="closee3{{ archivo.id }} close" style="margin-top: -10px;">&times;</span>
                                        <div class="modal-header">
                                            <h2>Modificar Proyecto</h2>
                                        </div>
                                        <br>
                                        <form method="POST" action="acciones/update/{{ archivo.pk }}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="form-items">
                                                    <label>Nombre del Proyecto</label>
                                                    <br>
                                                    <input required type="text" class="form-control" name="{{ formacc.nombrep.html_name }}" placeholder="Ingrese el nombre" value="{{ archivo.nombrep }}" required>
                                                </div>
                                                <div class="form-items">
                                                    <label>Fecha de Inicio</label>
                                                    <br>
                                                    <input required type="date" class="form-control" name="{{ formacc.fechai.html_name }}" placeholder="Ingrese la fecha" value="{{ archivo.fechai|date:"Y-m-d" }}" required>
                                                </div>
                                                <div class="form-items">
                                                    <label>Fecha de Culminación</label>
                                                    <br>
                                                    <input required type="date" class="form-control" name="{{ formacc.fechac.html_name }}" placeholder="Ingrese la cédula" value="{{ archivo.fechac|date:"Y-m-d" }}" required>
                                                </div>
                                                <div class="form-items">
                                                    <label>Situación Presupuestaria</label>
                                                    <br>
                                                    <input required type="text" class="form-control" name="{{ formacc.situacionp.html_name }}" placeholder="Ingrese la situación" value="{{ archivo.situacionp }}" required>
                                                </div>
                                                <div class="form-items">
                                                    <label>Monto Total del Proyecto</label>
                                                    <br>
                                                    <input required type="text" class="form-control" name="{{ formacc.montoproyecto.html_name }}" placeholder="Ingrese el monto" value="{{ archivo.montoproyecto }}" required>
                                                </div>
                                                <div class="form-items">
                                                    <label>Gerente Responsable</label>
                                                    <br>
                                                    <input required type="text" class="form-control" name="{{ formacc.responsableg.html_name }}" placeholder="Ingrese el gerente responsable" value="{{ archivo.responsableg }}" required>
                                                </div>
                                                <div class="form-items">
                                                    <label>Técnico Responsable</label>
                                                    <br>
                                                    <input required type="text" class="form-control" name="{{ formacc.responsablet.html_name }}" placeholder="Ingrese el técnico responsable" value="{{ archivo.responsablet }}" required>
                                                </div>
                                                <div class="form-items">
                                                    <label>Registrador Responsable</label>
                                                    <br>
                                                    <input required type="text" class="form-control" name="{{ formacc.responsabler.html_name }}" placeholder="Ingrese el registrador responsable" value="{{ archivo.responsabler }}" required>
                                                </div>
                                                <div class="form-items">
                                                    <label>Responsable Administrativo</label>
                                                    <br>
                                                    <input type="text" class="form-control" name="{{ formacc.responsablea.html_name }}" placeholder="Ingrese el responsable administrativo" value="{{ archivo.responsablea }}" required>
                                                </div>
                                                <div class="form-items">
                                                    <label>Estatus</label>
                                                        <br>
                                                        <select name="{{ formacc.estatus.html_name }}" class="form-control">
                                                            <option value="{{ archivo.estatus }}">{{ archivo.estatus }}</option>
                                                            <option value="Aprobado">Aprobado</option>
                                                            <option value="Negado">Negado</option>
                                                            <option value="En proceso">En proceso</option>
                                                        </select>
                                                    </div>
                                            </div>
                                            <br>
                                            <div align="center">
                                                <input type="submit" class="bnt" value="Enviar" style="width: 90px;">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <script>
                                    var modall3{{ archivo.id }} = document.getElementById("myModall3{{ archivo.id }}");
                                    var btnn3{{ archivo.id }} = document.getElementById("myBtnn3{{ archivo.id }}");
                                    var spann3{{ archivo.id }} = document.getElementsByClassName("closee3{{ archivo.id }}")[0];
                                    btnn3{{ archivo.id }}.onclick = function() {
                                        modall3{{ archivo.id }}.style.visibility = "visible";
                                        modall3{{ archivo.id }}.style.opacity = 1;
                                    }
                                
                                    spann3{{ archivo.id }}.onclick = function() {
                                        modall3{{ archivo.id }}.style.visibility = "hidden";
                                        modall3{{ archivo.id }}.style.opacity = 0;
                                    }
                                
                                    window.onclick = function(event) {
                                        if (event.target == modall3{{ archivo.id }}) {
                                            modall3{{ archivo.id }}.style.visibility = "hidden";
                                            modall3{{ archivo.id }}.style.opacity = 0;
                                        }
                                    }
                                </script>
                                <div id="myModall2{{ archivo.id }}" class="modal">
                                    <div class="modal-content">
                                        <span class="closee2{{ archivo.id }} close" style="margin-top: -10px;">&times;</span>
                                        <div class="modal-header">
                                            <form action="acciones/delete/{{ archivo.id }}" method="POST">
                                                {% csrf_token %}
                                                <br>
                                                <div align="center">
                                                    <h2>¿Estás seguro de eliminar este registro?</h2>
                                                </div>
                                                <br><br>
                                                <div align="center">
                                                    <input type="submit" class="bnt" value="Eliminar" style="width: 90px;">
                                                </div>
                                            </form>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                                <script>
                                    var modall2{{ archivo.id }} = document.getElementById("myModall2{{ archivo.id }}");
                                    var btnn2{{ archivo.id }} = document.getElementById("myBtnn2{{ archivo.id }}");
                                    var spann2{{ archivo.id }} = document.getElementsByClassName("closee2{{ archivo.id }}")[0];
                                    btnn2{{ archivo.id }}.onclick = function() {
                                        modall2{{ archivo.id }}.style.visibility = "visible";
                                        modall2{{ archivo.id }}.style.opacity = 1;
                                    }
            
                                    spann2{{ archivo.id }}.onclick = function() {
                                        modall2{{ archivo.id }}.style.visibility = "hidden";
                                        modall2{{ archivo.id }}.style.opacity = 0;
                                    }
            
                                    window.onclick = function(event) {
                                        if (event.target == modall{{ archivo.id }}) {
                                            modall2{{ archivo.id }}.style.visibility = "hidden";
                                            modall2{{ archivo.id }}.style.opacity = 0;
                                        }
                                    }
                                </script>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
    </div>
</div>
<!-- =========== Scripts =========  -->
<script src="{% static '/js/main.js' %}"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script>
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("close")[0];
    btn.onclick = function() {
        modal.style.visibility = "visible";
        modal.style.opacity = 1;
    }

    span.onclick = function() {
        modal.style.visibility = "hidden";
        modal.style.opacity = 0;
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.visibility = "hidden";
            modal.style.opacity = 0;
        }
    }
</script>
    </body>
</html>
