.imagen{
    width: 900px;
    height: 50px;
}

body{
background-image: url(../imagenes/fondo.jpg);
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
}

.contenedor {
    text-align: center;
    display: flex;
    margin-left: 10%;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.contenedor2{
    text-align: center;
    display: flex;
    margin-right: 20%;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.columna {
    background-color: none;
    padding: 10px;
    margin-left: 10%;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.columna2{
    background-color: none;
    padding: 10px;
    margin-right: 10%;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

hr{
    border: none;
    width: 15px;
    border-left: 10px solid #05792b;
    height: 350px;
}


a{
    display: block;
    width: 35px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    border-radius: 20px;
    margin: 300 px;
    padding: 10px 100px;
    background-color: rgb(4, 158, 17);
    border: 3px solid #004100;
    color: #ffffff;
    text-rendering: center;

}
a:hover{
    background-color: #29a084;
    border: 3px solid #022c02;
    color: black;
}

a:active {
    transform: scale(0.9);
}



