{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- =============== Cabecera ================ -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="icon" type="image/x-icon" href="{% static '/img/favicon.icon' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <title>
    S.U.C.I -{% block title %}Módulos{% endblock %}
  </title>

  {% block addCss %}

  {% endblock %}
</head>

<body>
  <!-- =============== Ménu principal ================ -->
  <div class="sidebar">
    <div class="logo"></div>

    <ul class="menu">
      <li>
        <a href="{% url 'modulos' %}">
          <img style="width:20px; height: 30px;" src="{% static 'img/favicon.png' %}" />
          <span class="title">S.U.C.I</span>
        </a>
      </li>

      {% block menuItems %}

      {% endblock %}

      <li class="logout.new">
        <a href="{% url 'modulos' %}">
          <i class="fa-solid fa-arrow-left"></i>
          <span>Volver</span>
        </a>
      </li>

      <li class="logout" style="background: none;">
        <a href="{% url 'logout' %}">
          <label class="switch" for="checkbox">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="slider">
              <path
                d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V256c0 17.7 14.3 32 32 32s32-14.3 32-32V32zM143.5 120.6c13.6-11.3 15.4-31.5 4.1-45.1s-31.5-15.4-45.1-4.1C49.7 115.4 16 181.8 16 256c0 132.5 107.5 240 240 240s240-107.5 240-240c0-74.2-33.8-140.6-86.6-184.6c-13.6-11.3-33.8-9.4-45.1 4.1s-9.4 33.8 4.1 45.1c38.9 32.3 63.5 81 63.5 135.4c0 97.2-78.8 176-176 176s-176-78.8-176-176c0-54.4 24.7-103.1 63.5-135.4z">
              </path>
            </svg>
          </label>
        </a>
      </li>
    </ul>
  </div>

  <!-- ========================= Menú de usuario ==================== -->
  <div class="main--content">
    <div class="header--wrapper">
      <div class="header--title">
        <h2>
          {% block mainContentHeaderTitle %}
          Inicio
          {% endblock %}
        </h2>
      </div>

      <div class="user--info">
        <img src="{% static 'img/ven911.jpg' %}" />
        <h2 class="title">V{{ request.user.username }}</h2>
      </div>
    </div>

    <!-- =========== Barra-Area de Busqueda y Botones Adicionales ========= -->
    <div class="tabular--wrapper">
      <h3 class="main--title"></h3>

      {% block infoCards %}

      {% endblock %}

      <div class="user--info">
        {% block seacrhForm %}

        {% endblock %}

        {% block additionalButtons %}

        {% endblock %}

        {% block paginate %}

        {% endblock %}
      </div>
    </div>

    {% block content %}

    {% endblock %}
  </div>

  {% block extraContent %}

  {% endblock %}

  <!-- =========== Scripts ========= -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script>
    {% if messages %}
    let html_mensaje = '';

    {% for mensaje in messages %}
    html_mensaje += '{{ mensaje }}';
    {% endfor %}

    notificacionError(html_mensaje);
    {% endif %}
  </script>

  {% block addScript %}

  {% endblock %}
</body>

</html>