{% extends "base.html" %}
{% load static %}

{% block addCss %}
<link rel="stylesheet" href="{% static '/css/modulos.css' %}">
{% endblock %}

{% block title %}S.U.C.I - Módulos{% endblock %}

{% block content %}
<div class="redirect">
  <h2 class="redirect__title">Sistema Unificado para el Control Interno del Ven911</h2>
  <div class="redirect__options">
    <a class="card__link" href="/logout">Salir</a>
  </div>
  <div class="redirect__modules">
    <article class="box card">
      <h2 class="card__title">Operaciones Cuadrantes de Paz</h2>
      <img style="width: 85px; height: 80px;" src="{% static 'img/cuadrantes_de_paz.png' %}">
      <a class="card__link" href="/cuadrantesdepaz">Entrar</a>
    </article>
    <article class="box card">
      <h2 class="card__title">Gestión Administrativa</h2>
      <img style="width: 85px; height: 80px;" src="{% static 'img/gestion_administrativa.png' %}">
      <a class="card__link" href="/ga">Entrar</a>
    </article>
    <article class="box card">
      <h2 class="card__title">Gestión Comunicacional</h2>
      <img style="width: 85px; height: 80px;" src="{% static 'img/gestion_administrativa.png' %}">
      <a class="card__link" href="/gestion-comunicacional">Entrar</a>
    </article>
    <article class="box card">
      <h2 class="card__title">Gestión Humana</h2>
      <img style="width: 85px; height: 80px;" src="{% static 'img/gestion_humana.png' %}">
      <a class="card__link" href="/gestion">Entrar</a>
    </article>
    <article class="box card">
      <h2 class="card__title">Tecnología Comunicación e Información</h2>
      <img style="width: 85px; height: 80px;" src="{% static 'img/tecnologia.png' %}">
      <a class="card__link" href="/tci">Entrar</a>
    </article>
    <article class="box card">
      <h2 class="card__title">Unidad de Respuesta Inmediata</h2>
      <img style="width: 85px; height: 80px;" src="{% static 'img/ambulancia.png' %}">
      <a class="card__link" href="/uri">Entrar</a>
    </article>
    <article class="box card">
      <h2 class="card__title">Potencia</h2>
      <img style="width: 85px; height: 80px;" src="{% static 'img/incidente.png' %}">
      <a class="card__link" href="/potencia">Entrar</a>
    </article>
    <article class="box card">
      <h2 class="card__title">Organización</h2>
      <img style="width: 85px; height: 80px;" src="{% static 'img/organizacion.png' %}">
      <a class="card__link" href="/organizacion">Entrar</a>
    </article>
    <article class="box card">
      <h2 class="card__title">Presupuesto</h2>
      <img style="width: 85px; height: 80px;" src="{% static 'img/presupuesto.png' %}">
      <a class="card__link" href="/iniciopre">Entrar</a>
    </article>
    <article class="box card">
      <h2 class="card__title">Planificación</h2>
      <img style="width: 85px; height: 80px;" src="{% static 'img/planificacion.png' %}">
      <a class="card__link" href="/inicio">Entrar</a>
    </article>
    <article class="box card">
      <h2 class="card__title">Seguridad Integral</h2>
      <img style="width: 85px; height: 80px;" src="{% static 'img/seguridad.png' %}">
      <a class="card__link" href="/seguridad">Entrar</a>
    </article>
    <article class="box card">
      <h2 class="card__title">Biblioteca de Manuales</h2>
      <img style="width: 85px; height: 80px;" src="{% static 'img/biblioteca.png' %}">
      <a class="card__link" href="/biblioteca">Entrar</a>
    </article>
    <article class="box card">
      <h2 class="card__title">Admin</h2>
      <img style="width: 85px; height: 80px;" src="{% static 'img/admin.png' %}">
      <a class="card__link" href="/usuarios">Entrar</a>
    </article>
  </div>
</div>
{% endblock %}