{% extends "dashboard-base.html" %}
{% load static %}

{% block title %}Organización{% endblock %}

<!-- ========s======= Items del Menu ================ -->
{% block menuItems %}
<li class="activado">
  <a href="{% url 'organizacion_reglamentos' %}" class="activadoa">
    <i class="fa-solid fa-book"></i>
    <span>Reglamentos</span>
  </a>
</li>

<li>
  <a href="{% url 'organizacion_normativas' %}">
    <i class="fa-solid fa-book-open"></i>
    <span>Normativas</span>
  </a>
</li>
{% endblock %}