{% load static %}
{% include "utils/modal/modal-header.html" %}

<!-- =========== Contenido del Modal =========  -->
<form data-form>
  {% csrf_token %}
  <div class="form-group">
    <div class="form-items">
      <label>Nombre</label>
      <br>
      <input type="text" class="form-control" name="{{form5.name.html_name}}" placeholder="Ingrese el nombre"
        required>
    </div>
    <div class="form-items">
      <label>Usuario</label>
      <br>
      <input type="number" class="form-control" name="{{form5.user.html_name}}" placeholder="Ingrese el usuario"
        required>
    </div>
    <div class="form-items">
      <label>Archivo</label>
      <br>
      <input type="file" class="form-control" name="{{form5.file.html_name}}" placeholder="Ingrese el Archivo"
        required>
    </div>
    <div class="form-items">
      <label>Progreso</label>
      <br>
      <select name="{{form5.progre.html_name}}" class="form-control">
        <option value="" selected> Seleccione</option>
        <option value="10%">10%</option>
        <option value="30%">30%</option>
        <option value="50%">50%</option>
        <option value="80%">80%</option>
        <option value="100%">100%</option>
      </select>
    </div>
    <div class="form-items">
      <label>Fecha</label>
      <br>
      <input type="date" class="form-control" name="{{form5.date.html_name}}" placeholder="Ingrese la fecha"
        required>
    </div>
  </div>

  <br>

  <div align="center">
    <input type="submit" class="bnt" value="Enviar" style="width: 90px;">
  </div>
</form>

{% include "utils/modal/modal-footer.html" %}

<!-- =========== Scripts =========  -->
<script src="{% static 'js/organizacion/content-modal.js' %}"></script>