{% extends "organizacion/base.html" %}
{% load static %}

<!-- ========================= Menú usuario ==================== -->
{% block mainContentHeaderTitle %}Normativas{% endblock %}

<!-- =========== Formulario de Busqueda =========  -->
{% block seacrhForm %}
<form id="formConsulta" method="GET" action="{% url 'normativas_consultar' accion='consultar' %}">
  <div class="searh--box">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" name="name" id="inputname" placeholder="Buscar">
    <button type="submit" class="btn">Consultar</button>
    <button type="button" class="btn" onclick="location.href=`{% url 'organizacion_normativas' %}`">Limpiar</button>
  </div>
</form>
{% endblock %}

<!-- =========== Botones de acciones adicionales =========  -->
{% block additionalButtons %}
<button data-btn-add class="bt">Agregar</button>
{% endblock %}

<!-- =========== Paginador =========  -->
{% block paginate %}
<center>
  <section class="ulpgcds-pager">
    <ul class="ulpgcds-pager-ul">
      {%if normativass.has_previous %} {# whether the previous page exists #}
      <li class="ulpgcds-pageritem ulpgcds-pageritem--prev">
        <a class="pagination__link" href="?page={{normativass.previous_page_number}}"
          title="Ir a la página anterior"><span class="visually-hidden">Anterior</span></a>
      </li>
      {% endif %}
      {% for i in normativass.paginator.page_range %}
      {% if normativass.number == i %}
      <li class="ulpgcds-pageritem ulpgcds-pageritem--is-active">
        <a class="pagination__link" href="?page={{normativass.number}}">{{ i }}</a>
      </li>
      {% else %}
      <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
      {% endfor %}
      {%if normativass.has_next %} {# whether the next page exists #}
      <li class="ulpgcds-pageritem ulpgcds-pageritem--next">
        <a class="pagination__link" href="?page={{normativass.next_page_number}}" title="Ir a la página siguiente">
          <span class="visually-hidden">Siguiente</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </section>
</center>
{% endblock %}

{% block content %}
<!-- ===================== Tabla ====================  -->
<div class="tabular--wrapper" style="margin-top: 10px; padding-top: 10px;">
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Fecha</th>
          <th>Usuario</th>
          <th>Archivo</th>
          <th>Progreso</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      <tbody>
        {% for archivo in normativass %}
        <tr>
          <td>{{ archivo.name }}</td>
          <td>{{ archivo.date }}</td>
          <td>{{ archivo.user }}</td>
          <td>
            <a href="/media/{{ archivo.file }}" style="color: black;">
              <i class="fa-solid fa-eye"></i>
            </a>
          </td>
          <td>{{ archivo.progre }}</td>
          <td>
            {% if archivo.estado == True %}
            Publicado
            {% elif archivo.estado == False%}
            No Publicado
            {% endif %}
          </td>
          <td>
            <a href="#" id="myBtnn3{{ archivo.id }}" style="color: black;"><i class="fa-solid fa-pen-to-square"></i></a>
            &nbsp;&nbsp;&nbsp;
            <a href="#" id="myBtnn4{{ archivo.id }}" style="color: black;"><i class="fa-regular fa-file"></i></a>
            &nbsp;&nbsp;&nbsp;
            <a href="#" id="myBtnn2{{ archivo.id }}" style="color: black;"><i class="fa-solid fa-trash"></i></a>
            &nbsp;&nbsp;&nbsp;
            {% if archivo.estado == False %}
            <a href="#" id="myBtnni55{{ archivo.id }}" style="color: black;"><i class="fa-solid fa-check"></i></a>
            {% elif archivo.estado == True %}
            <a href="#" id="myBtnni66{{ archivo.id }}" style="color: black;"><i
                class="fa-regular fa-circle-xmark"></i></a>
            {% endif %}
            <div id="myModall3{{ archivo.id }}" class="modal">
              <div class="modal-content">
                <span class="closee3{{ archivo.id }} close" style="margin-top: -10px;">&times;</span>
                <div class="modal-header">
                  <h2>Modificar Normativa</h2>
                </div>
                <br>
                <form method="POST" action="normativas/update/{{ archivo.pk }}">
                  {% csrf_token %}
                  <div class="form-group">
                    <div class="form-items">
                      <label>Nombre</label>
                      <br>
                      <input type="text" class="form-control" name="{{ formen.name.html_name }}"
                        placeholder="Ingrese el nombre" value="{{ archivo.name }}" required>
                    </div>
                    <div class="form-items">
                      <label>Usuario</label>
                      <br>
                      <input type="number" class="form-control" name="{{ formen.user.html_name }}"
                        placeholder="Ingrese el usuario" value="{{ archivo.user }}" required>
                    </div>
                    <div class="form-items">
                      <label>Progreso</label>
                      <br>
                      <select name="{{formen.progre.html_name}}" class="form-control">
                        <option value="{{ archivo.progre }}" selected>{{ archivo.progre }}</option>
                        <option value="10%">10%</option>
                        <option value="30%">30%</option>
                        <option value="50%">50%</option>
                        <option value="80%">80%</option>
                        <option value="100%">100%</option>
                      </select>
                    </div>
                    <div class="form-items">
                      <label>Fecha</label>
                      <br>
                      <input type="date" class="form-control" name="{{ formen.date.html_name }}"
                        placeholder="Ingrese la fecha" value="{{ archivo.date|date:" Y-m-d" }}" required>
                    </div>
                  </div>
                  <br>
                  <div align="center">
                    <input type="submit" class="myBtn" value="Enviar" style="width: 90px;">
                  </div>
                </form>
              </div>
            </div>
            <script>
              var modall3{{ archivo.id }} = document.getElementById("myModall3{{ archivo.id }}");
              var btnn3{{ archivo.id }} = document.getElementById("myBtnn3{{ archivo.id }}");
              var spann3{{ archivo.id }} = document.getElementsByClassName("closee3{{ archivo.id }}")[0];
                                    btnn3{ { archivo.id } }.onclick = function () {
                                        modall3{ { archivo.id } }.style.visibility = "visible";
                                        modall3{ { archivo.id } }.style.opacity = 1;
              }
                                
                                    spann3{ { archivo.id } }.onclick = function () {
                                        modall3{ { archivo.id } }.style.visibility = "hidden";
                                        modall3{ { archivo.id } }.style.opacity = 0;
              }

              window.onclick = function (event) {
                if (event.target == modall3{ { archivo.id } }) {
                                            modall3{ { archivo.id } }.style.visibility = "hidden";
                                            modall3{ { archivo.id } }.style.opacity = 0;
                }
              }
            </script>
            <div id="myModall4{{ archivo.id }}" class="modal">
              <div class="modal-content">
                <span class="closee4{{ archivo.id }} close" style="margin-top: -10px;">&times;</span>
                <div class="modal-header">
                  <h2>Modificar Archivo</h2>
                </div>
                <br>
                <form method="POST" action="normativas/updatef/{{ archivo.pk }}" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group">
                    <div class="form-items" style="width: 100%;">
                      <label>Archivo</label>
                      <br>
                      <input type="file" class="form-control" name="{{ formenf.file.html_name }}"
                        placeholder="Ingrese el archivo" required>
                    </div>
                  </div>
                  <br>
                  <div align="center">
                    <input type="submit" class="bnt" value="Enviar" style="width: 90px;">
                  </div>
                </form>
              </div>
            </div>
            <script>
              var modall4{{ archivo.id }} = document.getElementById("myModall4{{ archivo.id }}");
              var btnn4{{ archivo.id }} = document.getElementById("myBtnn4{{ archivo.id }}");
              var spann4{{ archivo.id }} = document.getElementsByClassName("closee4{{ archivo.id }}")[0];
                                    btnn4{ { archivo.id } }.onclick = function () {
                                        modall4{ { archivo.id } }.style.visibility = "visible";
                                        modall4{ { archivo.id } }.style.opacity = 1;
              }
                                
                                    spann4{ { archivo.id } }.onclick = function () {
                                        modall4{ { archivo.id } }.style.visibility = "hidden";
                                        modall4{ { archivo.id } }.style.opacity = 0;
              }

              window.onclick = function (event) {
                if (event.target == modall3{ { archivo.id } }) {
                                            modall4{ { archivo.id } }.style.visibility = "hidden";
                                            modall4{ { archivo.id } }.style.opacity = 0;
                }
              }
            </script>
            <div id="myModall2{{ archivo.id }}" class="modal">
              <div class="modal-content">
                <span class="closee2{{ archivo.id }} close" style="margin-top: -10px;">&times;</span>
                <div class="modal-header">
                  <form action="normativas/delete/{{ archivo.id }}" method="POST">
                    {% csrf_token %}
                    <br>
                    <div align="center">
                      <h2>¿Estás seguro de eliminar este registro?</h2>
                    </div>
                    <br><br>
                    <div align="center">
                      <input type="submit" class="bnt" value="Eliminar" style="width: 90px;">
                    </div>
                  </form>
                </div>
                <br>
              </div>
            </div>
            <script>
              var modall2{{ archivo.id }} = document.getElementById("myModall2{{ archivo.id }}");
              var btnn2{{ archivo.id }} = document.getElementById("myBtnn2{{ archivo.id }}");
              var spann2{{ archivo.id }} = document.getElementsByClassName("closee2{{ archivo.id }}")[0];
                                    btnn2{ { archivo.id } }.onclick = function () {
                                        modall2{ { archivo.id } }.style.visibility = "visible";
                                        modall2{ { archivo.id } }.style.opacity = 1;
              }
            
                                    spann2{ { archivo.id } }.onclick = function () {
                                        modall2{ { archivo.id } }.style.visibility = "hidden";
                                        modall2{ { archivo.id } }.style.opacity = 0;
              }

              window.onclick = function (event) {
                if (event.target == modall{ { archivo.id } }) {
                                            modall2{ { archivo.id } }.style.visibility = "hidden";
                                            modall2{ { archivo.id } }.style.opacity = 0;
                }
              }
            </script>
            {% if archivo.estado == False %}
            <div id="myModalli55{{ archivo.id }}" class="modal">
              <div class="modal-content">
                <span class="closeei55{{ archivo.id }} close" style="margin-top: -10px;">&times;</span>
                <div class="modal-header">
                  <form action="normativas/pubublicar_reg/{{ archivo.id }}" method="POST">
                    {% csrf_token %}
                    <br>
                    <div align="center">
                      <h2>¿Estás seguro de publicar este reglamento?</h2>
                    </div>
                    <br><br>
                    <div align="center">
                      <input type="submit" class="bnt" value="Cambiar" style="width: 90px;">
                    </div>
                  </form>
                </div>
                <br>
              </div>
            </div>
            <script>
              var modalli55{{ archivo.id }} = document.getElementById("myModalli55{{ archivo.id }}");
              var btnni55{{ archivo.id }} = document.getElementById("myBtnni55{{ archivo.id }}");
              var spanni55{{ archivo.id }} = document.getElementsByClassName("closeei55{{ archivo.id }}")[0];
                                     btnni55{ { archivo.id } }.onclick = function () {
                                         modalli55{ { archivo.id } }.style.visibility = "visible";
                                         modalli55{ { archivo.id } }.style.opacity = 1;
              }
     
                                     spanni55{ { archivo.id } }.onclick = function () {
                                         modalli55{ { archivo.id } }.style.visibility = "hidden";
                                         modalli55{ { archivo.id } }.style.opacity = 0;
              }

              window.onclick = function (event) {
                if (event.target == modalli55{ { archivo.id } }) {
                                             modalli55{ { archivo.id } }.style.visibility = "hidden";
                                             modalli55{ { archivo.id } }.style.opacity = 0;
                }
              }
            </script>
            {% elif archivo.estado == True %}
            <div id="myModalli66{{ archivo.id }}" class="modal">
              <div class="modal-content">
                <span class="closeei66{{ archivo.id }} close" style="margin-top: -10px;">&times;</span>
                <div class="modal-header">
                  <form action="normativas/despubublicar_reg/{{ archivo.id }}" method="POST">
                    {% csrf_token %}
                    <br>
                    <div align="center">
                      <h2>¿Estás seguro de ocultar este reglamento?</h2>
                    </div>
                    <br><br>
                    <div align="center">
                      <input type="submit" class="bnt" value="Cambiar" style="width: 90px;">
                    </div>
                  </form>
                </div>
                <br>
              </div>
            </div>
            <script>
              var modalli66{{ archivo.id }} = document.getElementById("myModalli66{{ archivo.id }}");
              var btnni66{{ archivo.id }} = document.getElementById("myBtnni66{{ archivo.id }}");
              var spanni66{{ archivo.id }} = document.getElementsByClassName("closeei66{{ archivo.id }}")[0];
                                     btnni66{ { archivo.id } }.onclick = function () {
                                         modalli66{ { archivo.id } }.style.visibility = "visible";
                                         modalli66{ { archivo.id } }.style.opacity = 1;
              }
     
                                     spanni66{ { archivo.id } }.onclick = function () {
                                         modalli66{ { archivo.id } }.style.visibility = "hidden";
                                         modalli66{ { archivo.id } }.style.opacity = 0;
              }

              window.onclick = function (event) {
                if (event.target == modalli66{ { archivo.id } }) {
                                             modalli66{ { archivo.id } }.style.visibility = "hidden";
                                             modalli66{ { archivo.id } }.style.opacity = 0;
                }
              }
            </script>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
      </thead>
    </table>
  </div>
</div>
{% endblock %}

<!-- =========== Modal =========  -->
{% block extraContent %}
{% include "organizacion/modal-form.html" %}
{% endblock %}