{% extends "organizacion/base.html" %}

<!-- ========================= Menú usuario ==================== -->
{% block mainContentHeaderTitle %}Organización{% endblock %}

<!-- ========================= Tarjetas ====================== -->
{% block infoCards %}
<div class="card--container">
  <h3 class="main--title">Total de informes</h3>

  <div class="card--wrapper">
    <div class="payment--card light-green ">
      <div class="card--header">
        <div class="amount">
          <span class="title">Normativas</span>
        </div>
      </div>
      <span class="card-detail"> {{ normativass.count }}</span>
    </div>

    <div class="payment--card light-green">
      <div class="card--header">
        <div class="amount">
          <span class="title">Reglamentos</span>
        </div>
      </div>
      <span class="card-detail"> {{ reglamentoss.count }}</span>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<!-- ================= Tablas ================ -->
<div class="tabular--wrapper" style="margin-top: 10px; padding-top: 10px;">
  <h3 class="main--title">Manuales recientes</h3>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Usuario</th>
          <th>Fecha</th>
          <th>Archivo</th>
        </tr>
      <tbody>
        {% for a, b in objetos|slice:":20" %}
        <tr>
          <td>{{ a.name }}</td>
          <td>{{ a.user }}</td>
          <td>{{ a.date }}</td>
          <td>
            <a href="../../media/{{ a.file }}" style="color: black;">
              <i class="fa-solid fa-eye"></i>
            </a>
          </td>
        </tr>
        <tr>
          <td>{{ b.name }}</td>
          <td>{{ b.user }}</td>
          <td>{{ b.date }}</td>
          <td>
            <a href="../../media/{{ b.file }}" style="color: black;">
              <i class="fa-solid fa-eye"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      </thead>
    </table>
  </div>
</div>
{% endblock %}