<div id="deletepersonal{{ personal.id }}" class="modal">
    <div class="modal-content">
        <span class="closee2{{ personal.id }} close" style="margin-top: -10px;">&times;</span>
        <div class="modal-header">
            <form action="gestion/delete/{{ personal.id }}" method="POST">
                {% csrf_token %}
                <br>
                <div align="center">
                    <h2>¿Estás seguro de desea retirar el personal seleccionado?</h2>
                </div>
                <br><br>
                <div align="center">
                    <input type="submit" class="btn" value="Eliminar" style="width: 90px;">
                </div>
            </form>
        </div>
        <br>
    </div>
</div>