<div class="modal fade" id="modal-editar" tabindex="-1" role="dialog" aria-labelledby="modal-editar-label">
    <div class="modal-dialog">
        <div class="modal-content">
            <span class="close2" style="margin-top: -10px;">&times;</span>
            <div class="modal-header">
                <h2>Editar Personal</h2>
            </div>
            <br>
            <form id="form-editar" action="" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="id_persona" name="id_persona" value="">

                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" value="">
                        </div>
                        <div class="col-md-6">
                            <label for="apellido">Apellido</label>
                            <input type="text" class="form-control" id="apellido" name="apellido" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="nacionalidad">Nacionalidad</label>
                            <select class='form-control' id="nacionalidad" name="nacionalidad">
                                {% for nacionalidad in nacionalidades %}
                                <option value="{{ nacionalidad.nacionalidad }}">{{ nacionalidad.nacionalidad }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label for="cedula">Cédula</label>
                            <input type="text" class="form-control" id="cedula" name="cedula" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="sexo">Sexo</label>
                            <select class='form-control' id="sexo" name="sexo">
                                {% for sexo in sexos %}
                                <option value="{{ sexo.sexo }}">{{ sexo.sexo }} </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-12">
                            <label for="cedula">Fecha Nacimiento</label>
                            <input type="date" class="form-control" id="nacimiento" name="nacimiento" value="">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label for="cedula">Edad</label>
                            <input type="number" class="form-control" id="edad" name="edad" value="" readOnly>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="cedula">Telefono</label>
                            <input type="text" class="form-control" id="telefono" name="telefono" value="">
                        </div>

                        <div class="col-md-6">
                            <label for="estado">Estado Civil</label>
                            <select class='form-control' id="estado" name="estado">
                                {% for estado in estados %}
                                <option value="{{ estado.estado_civil }}">{{ estado.estado_civil }} </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <label for="conyugue">Conyugue</label>
                        <select class='form-control' id="conyugue" name="conyugue">
                            <option value="SI">SI</option>
                            <option value="NO">NO</option>
                        </select>
                    </div>

                    <div class="col-md-12">
                        <label for="ciconyugue">Cedula Conyugue</label>
                        <input type="text" class="form-control" id="ciconyugue" name="ciconyugue" value="">
                    </div>

                    <div class="col-md-12">
                        <label for="sangre">Tipo de Sangre</label>
                        <select class='form-control' id="sangre" name="sangre">
                            {% for sangre in sangres %}
                            <option value="{{ sangre.tipo_sangre }}">{{ sangre.tipo_sangre }} </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-12">
                        <label for="discapacitado">Discapacitado</label>
                        <select class='form-control' id="discapacitado" name="discapacitado">
                            <option value="true">SI</option>
                            <option value="false">NO</option>
                        </select>
                    </div>

                    <div class="col-md-12">
                        <label for="talla_camisa">Talla de Camisa</label>
                        <select class='form-control' id="talla_camisa" name="talla_camisa">
                            {% for tallaCamisa in talla_camisa %}
                            <option value="{{ tallaCamisa.talla_camisa }}">{{ tallaCamisa.talla_camisa }} </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-12">
                        <label for="talla_pantalon">Talla de Pantalón</label>
                        <select class='form-control' id="talla_pantalon" name="talla_pantalon">
                            {% for tallaPantalon in talla_pantalon %}
                            <option value="{{ tallaPantalon.talla_pantalon }}">{{ tallaPantalon.talla_pantalon }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-12">
                        <label for="talla_zapato">Talla de Zapatos</label>
                        <select class='form-control' id="talla_zapato" name="talla_zapato">
                            {% for tallaZapatos in talla_zapato %}
                            <option value="{{ tallaZapatos.talla_zapato }}">{{ tallaZapatos.talla_zapato }} </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-12">
                        <label for="fasmij">FASMIJ</label>
                        <select class='form-control' id="fasmij" name="fasmij">
                            <option value="true">SI</option>
                            <option value="false">NO</option>
                        </select>
                    </div>

                    <div class="col-md-12">
                        <label for="direccion">Dirección</label>
                        <input type="text" class="form-control" id="direccion" name="direccion" value="">
                    </div>

                    <div class="col-md-12">
                        <label for="nro_cuenta">Número de Cuenta</label>
                        <input type="text" class="form-control" id="nro_cuenta" name="nro_cuenta" value="">
                    </div>

                    <div class="col-md-12">
                        <label for="email">Correo Electrónico</label>
                        <input type="email" class="form-control" id="email" name="email" value="">
                    </div>

                    <div class="col-md-12">
                        <label for="grado_instruccion">Grado de Instrucción</label>
                        <select class='form-control' id="grado_instruccion" name="grado_instruccion">
                            {% for gradoInstruccion in grado_instruccion %}
                            <option value="{{ gradoInstruccion.grado_instruccion }}">{{
                                gradoInstruccion.grado_instruccion }} </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-12">
                        <label for="estudia">¿Estudia actualmente?</label>
                        <select class='form-control' id="estudia" name="estudia">
                            <option value="true">SI</option>
                            <option value="false">NO</option>
                        </select>
                    </div>

                    <div class="col-md-12">
                        <label for="comision_servicio">Comisión de Servicio</label>
                        <select class='form-control' id="comision_servicio" name="comision_servicio">
                            <option value="true">SI</option>
                            <option value="false">NO</option>
                        </select>
                    </div>

                    <div class="col-md-12">
                        <label for="pnb">PNB</label>
                        <select class='form-control' id="pnb" name="pnb">
                            <option value="true">SI</option>
                            <option value="false">NO</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="tipo_personal">Tipo Personal</label>
                            <select class='form-control' id="tipo_personal" name="tipo_personal">
                                {% for tipoPersonal in tipo_personal %}
                                <option value="{{ tipoPersonal.tipo_personal }}">{{ tipoPersonal.tipo_personal }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label for="cargo">Cargo</label>
                            <select class='form-control' id="cargo" name="cargo">
                                {% for cargo in cargos %}
                                <option value="{{ cargo.cargo }}">{{ cargo.cargo }} </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <label for="fecha_ingreso_911">Fecha de ingreso al 911</label>
                        <input type="date" class="form-control" id="fecha_ingreso_911" name="fecha_ingreso_911"
                            value="">
                    </div>


                    <div class="col-md-12">
                        <label for="fecha_ingreso_apn">Fecha de ingreso APN </label>
                        <input type="date" class="form-control" id="fecha_ingreso_apn" name="fecha_ingreso_apn"
                            value="">
                    </div>

                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="contratos">Contratos</label>
                            <input type="text" class="form-control" id="contratos" name="contratos" value="">
                        </div>

                        <div class="col-md-6">
                            <label for="departamento">Departamento</label>
                            <select class='form-control' id="departamento" name="departamento">
                                {% for departamento in departamentos %}
                                <option value="{{ departamento.departamento }}">{{ departamento.departamento }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <label for="niño_menor_12">Niños Menores de 12 años</label>
                        <select class='form-control' id="niño_menor_12" name="niño_menor_12">
                            <option value="true">SI</option>
                            <option value="false">NO</option>
                        </select>
                    </div>

                    <div class="col-md-12">
                        <label for="edades1">Edades</label>
                        <input type="text" class="form-control" id="edades1" name="edades1" value="">
                    </div>

                    <div class="col-md-12">
                        <label for="hijos_13_18">Hijos de 13 a 18 Años</label>
                        <select class='form-control' id="hijos_13_18" name="hijos_13_18">
                            <option value="true">SI</option>
                            <option value="false">NO</option>
                        </select>
                    </div>

                    <div class="col-md-12">
                        <label for="edades2">Edades</label>
                        <input type="text" class="form-control" id="edades2" name="edades2" value="">
                    </div>

                    <div class="col-md-12">
                        <label for="niña_menor_12">Niñas Menores de 12 años</label>
                        <select class='form-control' id="niña_menor_12" name="niña_menor_12">
                            <option value="true">SI</option>
                            <option value="false">NO</option>
                        </select>
                    </div>

                    <div class="col-md-12">
                        <label for="edades3">Edades</label>
                        <input type="text" class="form-control" id="edades3" name="edades3" value="">
                    </div>

                    <div class="col-md-12">
                        <label for="hijos_discapacidad">Hijos con Discapacidad</label>
                        <select class='form-control' id="hijos_discapacidad" name="hijos_discapacidad">
                            <option value="true">SI</option>
                            <option value="false">NO</option>
                        </select>
                    </div>

                    <div class="col-md-12">
                        <label for="edades4">Edades</label>
                        <input type="text" class="form-control" id="edades4" name="edades4" value="">
                    </div>

                    <div class="col-md-12">
                        <label for="sede">Sede</label>
                        <select class='form-control' id="sede" name="sede">
                            {% for sede in sedes %}
                            <option value="{{ sede.sede }}">{{ sede.sede }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-items" >
                        <label>Parentezco 1</label>
                        <br>
                        <input type="text" class="form-control" id="parentezco1" name="parentezco1"
                            placeholder="Parentezco" required>
                    </div>
                    <div class="form-items" >
                        <label>Beneficiario 1</label>
                        <br>
                        <input type="text" class="form-control" id="beneficiario1" name="beneficiario1"
                            placeholder="Beneficiario" required>
                    </div>
                    <div class="form-items" >
                        <label>Cedula  1</label>
                        <br>
                        <input type="text" class="form-control" id="cedula1" name="cedula1"
                            placeholder="Cedula" required>
                    </div>
                    <div class="form-items" >
                        <label>Direccion 1</label>
                        <br>
                        <input type="text" class="form-control" id="direccion1" name="direccion1"
                            placeholder="Direccion" required>
                    </div>
        
                    <div class="form-items" >
                        <label>Parentezco 2</label>
                        <br>
                        <input type="text" class="form-control" id="parentezco2" name="parentezco2"
                            placeholder="Parentezco" required>
                    </div>
                    <div class="form-items" >
                        <label>Beneficiario 2</label>
                        <br>
                        <input type="text" class="form-control" id="beneficiario2" name="beneficiario2"
                            placeholder="Beneficiario" required>
                    </div>
                    <div class="form-items" >
                        <label>Cedula  2</label>
                        <br>
                        <input type="text" class="form-control" id="cedula2" name="cedula2"
                            placeholder="Cedula" required>
                    </div>
                    <div class="form-items" >
                        <label>Direccion 2</label>
                        <br>
                        <input type="text" class="form-control" id="direccion2" name="direccion2"
                            placeholder="Direccion" required>
                    </div>
        
                    <div class="form-items" >
                        <label>Parentezco 3</label>
                        <br>
                        <input type="text" class="form-control" id="parentezco3" name="parentezco3"
                            placeholder="Parentezco" required>
                    </div>
                    <div class="form-items" >
                        <label>Beneficiario 3</label>
                        <br>
                        <input type="text" class="form-control" id="beneficiario3" name="beneficiario3"
                            placeholder="Beneficiario" required>
                    </div>
                    <div class="form-items" >
                        <label>Cedula  3</label>
                        <br>
                        <input type="text" class="form-control" id="cedula3" name="cedula3"
                            placeholder="Cedula" required>
                    </div>
                    <div class="form-items">
                        <label>Direccion 3</label>
                        <br>
                        <input type="text" class="form-control" id="direccion3" name="direccion3"
                            placeholder="Direccion" required>
                    </div>
                </div>
                <br>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>