{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
<!-- =============== Cabeceras ================ -->	
		<meta charset="UTF-8">
 		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge">
  		<title>Estadísticas</title>
  		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"> 
  		<link rel="icon" type="image/x-icon" href="{% static '/img/favicon.icon' %}">
	</head>
    <body>
<!-- =============== Menú principal ================ -->
        <div class="sidebar">
            <div class="logo"></div>
                <ul class="menu">
                    <li class="active">
                        <a href="#">
                                <img style="width:20px; height: 30px;" src="{% static 'img/favicon.png' %}">
                            </span>
                            <span class="title">S.U.C.I</span>
                        </a>
                    </li>
                    <li>
                        <a href="../planificacion/inicio">
                            <i class="fa-solid fa-house"></i>
                            <span>Inicio</span>
                        </a>
                    </li>
                    <li>
                        <a href="../planificacion/planificacion">
                            <i class="fa-solid fa-ruler-combined"></i>
                            <span>Planificacion</span>
                        </a>
                    </li>
                    <li>
                        <a href="../planificacion/objetivos">
                            <i class="fa-solid fa-bullseye"></i>
                            <span>Objetivos</span>
                        </a>
                    </li>
                    <li>
                        <a href="../planificacion/estadisticas">
                            <i class="fa-solid fa-square-poll-vertical"></i>
                            <span>Estadísticas</span>
                        </a>
                    </li>
                    <li class="logout.new">
                            <a href="../modulos">
                                <i class="fa-solid fa-arrow-left"></i>
                                <span>Volver</span>
                            </a>
                        </li>
                    <li class="logout">
                        <a href="{% url 'logout' %}">
                            <i class="fa-solid fa-right-from-bracket"></i>
                        <span class="title"> Salir </span>
                        </a>
                    </li>
                </ul>
            </div>
<!-- ========================= Menú de usuario  ==================== -->
            <div class="main--content">
                <div class="header--wrapper">
                    <div class="header--title">
                        <h2>Estadísticas</h2>
                    </div>
                    <div class="user--info">
                        <div class="searh--box">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" placeholder="Buscar" />
                    </div>
                        <img src="{% static 'img/ven911.jpg' %}">
                        <h2 class="title">V{{request.user.username}}</h2>
                    </div>
                </div>
<!-- ======================= Boton ======================  -->
<div align="right" style="margin-right: 100px; margin-bottom: -10px;">
    <button id="myBtn" class="btn">Agregar</button>
</div>
<!-- ======================= Formulario ======================  -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" style="margin-top: -10px;">&times;</span>
        <div class="modal-header">
            <h2>Agregar planificación</h2>
        </div>
        <br>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <div class="form-items">
                    <label>Fecha inicial</label>
                    <br>
                    <input required type="date" class="form-control" name="{{form13.fechai.html_name}}" placeholder="Ingrese la fecha inicial">
                </div>
                <div class="form-items">
                    <label>Fecha final</label>
                    <br>
                    <input required type="date" class="form-control" name="{{form13.fechaf.html_name}}" placeholder="Ingrese la fecha final">
                </div>
                <div class="form-items">
                    <label>Objetivo</label>
                    <br>
                    <input required type="text" class="form-control" name="{{form13.objetiv.html_name}}" placeholder="Ingrese el objetivo">
                </div>
                <div class="form-items">
                    <label>Meta</label>
                    <br>
                    <input required type="text" class="form-control" name="{{form13.meta.html_name}}" placeholder="Ingrese la meta">
                </div>
            </div>
            <br>
            <div align="center">
                <input type="submit" class="myBtn" value="Enviar" style="width: 90px;">
            </div>
        </form>
    </div>
</div>
<!-- ===================== Listar Archivos ====================  -->
<div class="tabular--wrapper">
    <div class="table-container">            
        <table>
            <thead>
                <tr>
                    <th>Fecha inicial</th>
                    <th>Fecha final</th>
                    <th>Objetivo</th>
                    <th>Meta</th>
                    <th>Acciones</th>
                </tr>
                <tbody>
                    {% for archivo in planificacionn %}
                        <tr>
                            <td>{{ archivo.fechai }}</td>
                            <td>{{ archivo.fechaf }}</td>
                            <td>{{ archivo.objetiv }}</td>
                            <td>{{ archivo.meta }}</td>
                            <td>
                                <a href="#" id="myBtnn3{{ archivo.id }}" style="color: black;"><i class="fa-solid fa-pen-to-square"></i></a>
                                &nbsp;&nbsp;&nbsp;
                                <a href="#" id="myBtnn2{{ archivo.id }}" style="color: black;"><i class="fa-solid fa-trash"></i></a>
                                <div id="myModall3{{ archivo.id }}" class="modal">
                                    <div class="modal-content">
                                        <span class="closee3{{ archivo.id }} close" style="margin-top: -10px;">&times;</span>
                                        <div class="modal-header">
                                            <h2>Modificar Planificación</h2>
                                        </div>
                                        <br>
                                        <form method="POST" action="planificacion/update/{{ archivo.id }}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="form-items">
                                                    <label>Fecha inicial</label>
                                                    <br>
                                                    <input required type="date" class="form-control" name="{{ formenn.fechai.html_name }}" placeholder="Ingrese la fecha inicial" value="{{ archivo.fechai|date:"Y-m-d" }}"  required>
                                                </div>
                                                <div class="form-items">
                                                    <label>Fecha final</label>
                                                    <br>
                                                    <input required type="date" class="form-control" name="{{ formenn.fechaf.html_name }}" placeholder="Ingrese la fecha final" value="{{ archivo.fechaf|date:"Y-m-d" }}" required>
                                                </div>
                                                <div class="form-items">
                                                    <label>Objetivo</label>
                                                    <br>
                                                    <input required type="text" class="form-control" name="{{ formenn.objetiv.html_name }}" placeholder="Ingrese los objetivos" value="{{ archivo.objetiv }}" required>
                                                </div>
                                                <div class="form-items">
                                                    <label>Meta</label>
                                                    <br>
                                                    <input required type="text" class="form-control" name="{{ formenn.meta.html_name }}" placeholder="Ingrese la meta" value="{{ archivo.meta }}" required>
                                                </div>
                                            </div>
                                            <br>
                                            <div align="center">
                                                <input type="submit" class="myBtn" value="Enviar" style="width: 90px;">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <script>
                                    var modall3{{ archivo.id }} = document.getElementById("myModall3{{ archivo.id }}");
                                    var btnn3{{ archivo.id }} = document.getElementById("myBtnn3{{ archivo.id }}");
                                    var spann3{{ archivo.id }} = document.getElementsByClassName("closee3{{ archivo.id }}")[0];
                                    btnn3{{ archivo.id }}.onclick = function() {
                                        modall3{{ archivo.id }}.style.visibility = "visible";
                                        modall3{{ archivo.id }}.style.opacity = 1;
                                    }
                                
                                    spann3{{ archivo.id }}.onclick = function() {
                                        modall3{{ archivo.id }}.style.visibility = "hidden";
                                        modall3{{ archivo.id }}.style.opacity = 0;
                                    }
                                
                                    window.onclick = function(event) {
                                        if (event.target == modall3{{ archivo.id }}) {
                                            modall3{{ archivo.id }}.style.visibility = "hidden";
                                            modall3{{ archivo.id }}.style.opacity = 0;
                                        }
                                    }
                                </script>
                                <div id="myModall2{{ archivo.id }}" class="modal">
                                    <div class="modal-content">
                                        <span class="closee2{{ archivo.id }} close" style="margin-top: -10px;">&times;</span>
                                        <div class="modal-header">
                                            <form action="planificacion/delete/{{ archivo.id }}" method="POST">
                                                {% csrf_token %}
                                                <br>
                                                <div align="center">
                                                    <h2>¿Estás seguro de eliminar este registro?</h2>
                                                </div>
                                                <br><br>
                                                <div align="center">
                                                    <input type="submit" class="myBtn" value="Eliminar" style="width: 90px;">
                                                </div>
                                            </form>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                                <script>
                                    var modall2{{ archivo.id }} = document.getElementById("myModall2{{ archivo.id }}");
                                    var btnn2{{ archivo.id }} = document.getElementById("myBtnn2{{ archivo.id }}");
                                    var spann2{{ archivo.id }} = document.getElementsByClassName("closee2{{ archivo.id }}")[0];
                                    btnn2{{ archivo.id }}.onclick = function() {
                                        modall2{{ archivo.id }}.style.visibility = "visible";
                                        modall2{{ archivo.id }}.style.opacity = 1;
                                    }
            
                                    spann2{{ archivo.id }}.onclick = function() {
                                        modall2{{ archivo.id }}.style.visibility = "hidden";
                                        modall2{{ archivo.id }}.style.opacity = 0;
                                    }
            
                                    window.onclick = function(event) {
                                        if (event.target == modall{{ archivo.id }}) {
                                            modall2{{ archivo.id }}.style.visibility = "hidden";
                                            modall2{{ archivo.id }}.style.opacity = 0;
                                        }
                                    }
                                </script>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
    </div>
</div>
<br>
<!-- =========== Scripts =========  -->
<script src="{% static '/js/main.js' %}"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script>
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("close")[0];
    btn.onclick = function() {
        modal.style.visibility = "visible";
        modal.style.opacity = 1;
    }

    span.onclick = function() {
        modal.style.visibility = "hidden";
        modal.style.opacity = 0;
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.visibility = "hidden";
            modal.style.opacity = 0;
        }
    }
</script>
</body>
</html>